<div class="main-wrapper">
  <div class="wrapper dashboard-wrapper">
    <div class="my-container">
      <div class="master-body">
        <div class="title-container">
            <div class="header-back-button" *ngIf="fromSummary" >
                <img src="assets/images/back-red.png" alt="back" (click)="this.return('city/city-summary');">
                </div>
          <h3 class="main-title">
            {{model.id==null?('EDIT_CITY.LBL_ADD' | translate):('EDIT_CITY.LBL_EDIT' | translate)}}&nbsp;
            {{ 'EDIT_CITY.TITLE' | translate }}
          </h3>
        </div>
        <div class="content-container">
          <h4 class="container-head">{{ 'EDIT_CITY.LBL_DETAILS' | translate }}</h4>
          <div class="formPadding">
          <div class="row">
            <div class="col-sm-3">
              <div class="my-input-group">
                <label>{{ 'EDIT_CITY.LBL_COUNTRY' | translate }}</label>
                <select [(ngModel)]="model.countryid" (ngModelChange)="refreshvalues($event)">
                  <option value="0">--- {{ 'EDIT_CITY.LBL_SELECT' | translate }}---</option>
                  <option *ngFor="let item of data.countryValues" [ngValue]="item.id">{{item.countryName}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3 mobile-margin-top-15">
              <div class="my-input-group">
                <label class="required">{{ 'EDIT_CITY.LBL_REGION' | translate }}</label>
                <select [(ngModel)]="model.provinceid" [ngClass]="{'is-invalid': !validator.isValid('provinceid')}">
                  <option value="0">--- {{ 'EDIT_CITY.LBL_SELECT' | translate }}---</option>
                  <option *ngFor="let item of data.provinceValues" [ngValue]="item.id">{{item.name}}</option>
                </select>
                <div *ngIf="!validator.isValid('provinceid')" class="invalid-feedback">
                  <div *ngFor="let error of validator.getErrors('provinceid')">{{ error | translate }}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mobile-margin-top-15">
              <div class="my-input-group">
                <label class="required">{{ 'EDIT_CITY.LBL_CITY' | translate }}</label>
                <input [(ngModel)]="model.name" placeholder="{{ 'EDIT_CITY.PH_CITY_NAME' | translate }}" type="text"
                  [ngClass]="{'is-invalid': !validator.isValid('name')}" />
                <div *ngIf="!validator.isValid('name')" class="invalid-feedback">
                  <div *ngFor="let error of validator.getErrors('name')">{{ error | translate }}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mobile-margin-top-15">
                <div class="my-input-group">
                  <label class="required">{{ 'EDIT_CITY.LBL_OFFICE' | translate }}</label>
                  <select [(ngModel)]="model.officeid" [ngClass]="{'is-invalid': !validator.isValid('officeid')}">
                    <option value="0">--- {{ 'EDIT_CITY.LBL_SELECT' | translate }}---</option>
                    <option *ngFor="let item of data.officeValues" [ngValue]="item.id">{{item.name}}</option>
                  </select>
                  <div *ngIf="!validator.isValid('officeid')" class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('officeid')">{{ error | translate }}</div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row marginTop15">
            <div class="col-sm-3">
              <div class="my-input-group">
                <label class="required">{{ 'EDIT_CITY.LBL_ZONE' | translate }}</label>
                <select [(ngModel)]="model.zoneid" [ngClass]="{'is-invalid': !validator.isValid('zoneid')}">
                  <option value="0">--- {{ 'EDIT_CITY.LBL_SELECT' | translate }}---</option>
                  <option *ngFor="let item of data.zoneValues" [ngValue]="item.id">{{item.name}}</option>
                </select>
                <div *ngIf="!validator.isValid('zoneid')" class="invalid-feedback">
                  <div *ngFor="let error of validator.getErrors('zoneid')">{{ error | translate }}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mobile-margin-top-15">
                <div class="my-input-group">
                  <label>{{ 'EDIT_CITY.LBL_TRAVEL_TIME' | translate }}</label>
                  <input [(ngModel)]="model.travelTimeHH" placeholder="{{ 'EDIT_CITY.PH_TRAVEL_TIME' | translate }}"
                    type="number" />
                </div>
              </div>

              <div class="col-sm-3 mobile-margin-top-15">
                <div class="my-input-group">
                  <label>{{ 'EDIT_CITY.LBL_PHCODE' | translate }}</label>
                  <input [(ngModel)]="model.phonecode" placeholder="{{ 'EDIT_CITY.PH_PH_CODE' | translate }}"
                    type="text" />
                </div>
              </div> 
          </div>
        </div>
          <div class="form-action-container">
           
            <button class="category-cta small mr-2 common-tooltip common-tooltip-top-2" data-tooltip="Reset"
             (click)="Reset()">
              <img src="assets/images/reload-new.svg" alt="Reset">
              <span>{{'COMMON.LBL_RESET'| translate}}</span>
            </button>

            <button class="primary-cta small" [disabled]="loading" (click)="save()">
                {{
                  'EDIT_CITY.LBL_SAVE' | translate
                }}
              <span *ngIf="loading">
                <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
