<div class="main-wrapper">
	<div class="wrapper dashboard-wrapper">
		<div class="my-container">
			<div class="master-body">
				<div class="title-container">
					<h3 class="main-title">
						{{'FOOD_ALLOWANCE.LBL_TITLE' | translate }}</h3>
				</div>
				<div class="content-container quotation-container">
					<div [@expandCollapse]="isFilterOpen ? 'open' : 'close'"
						class="centerContainerPadding common-filter-container">
						<div class="animated-icon-container" (click)="toggleFilterSection()"
							*ngIf="(model.items && model.items.length>0)">
							<img src="assets/images/cta-close-grey.svg" alt="close">
						</div>
						<div class="row">
							<div class="col-sm-3 mobile-margin-top-15">
								<div class="my-input-group">
									<label for="">{{ 'COMMON.LBL_FACTORY_COUNTRY' | translate}}</label>
									<ng-select appendTo="body" [items]="summaryModel.countryList" [virtualScroll]="true"
										[loading]="summaryModel.countryLoading" bindLabel="name" bindValue="id"
										placeholder="--- {{ (summaryModel.countryList && summaryModel.countryList.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
										[typeahead]="summaryModel.countryInput" [minTermLength]="3"
										[(ngModel)]="model.countryId" (scrollToEnd)="getCountryData()" #select>

										<ng-template ng-option-tmp let-item="item">
											<div class="text-wrap">{{ item.name }}</div>
										</ng-template>
									</ng-select>
								</div>
							</div>
							<div class="my-input-group col-sm-3 col-md-6 col-lg-3">
								<label>{{'FOOD_ALLOWANCE.LBL_STARTDATE' | translate }}</label>
								<div class="calendar-wrapper">
									<input type="text" maxlength="10" container="body"
										[ngClass]="{ 'is-invalid':  !validator.isValidIf('startDate',IsDateValidationRequired())}"
										readonly=readonly [(ngModel)]="model.startDate" ngbDatepicker
										placeholder="{{'FOOD_ALLOWANCE.LBL_STARTDATE' | translate }}"
										#sdf="ngbDatepicker" (click)="sdf.toggle()">
									<img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
										(click)="clearDateInput('startDate')" *ngIf="model.startDate">
									<img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon"
										(click)="sdf.toggle()">
								</div>
								<div *ngIf="!validator.isValidIf('startDate',IsDateValidationRequired())"
									class="invalid-feedback">
									<div *ngFor="let error of validator.getErrors('startDate')">{{ error |
										translate }}</div>
								</div>
							</div>
							<div class="my-input-group col-sm-3 col-md-6 col-lg-3">
								<label>{{'FOOD_ALLOWANCE.LBL_ENDDATE' | translate }}</label>
								<div class="calendar-wrapper">
									<input type="text" maxlength="10" container="body"
										[ngClass]="{ 'is-invalid':  model.startDate && !model.endDate}"
										readonly=readonly [(ngModel)]="model.endDate"
										placeholder="{{'FOOD_ALLOWANCE.LBL_ENDDATE' | translate }}"
										ngbDatepicker #sdt="ngbDatepicker"
										(click)="sdt.toggle()">
									<img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
										(click)="clearDateInput('endDate')" *ngIf="model.endDate">
									<img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon"
										(click)="sdt.toggle()">
								</div>
								<div *ngIf="model.startDate && !model.endDate"
									class="invalid-feedback">
									<div *ngFor="let error of validator.getErrors('endDate')">{{'FOOD_ALLOWANCE.MSG_END_DATE_REQUIRED' | translate}}</div>
								</div>
							</div>
						</div>
						<div class="row marginTop25">
							<div class="col-12 col-sm-6">

							</div>
							<div class="col-12 col-sm-6 text-right mt-3 mt-sm-0">
						
								<button class="secondary-cta small mr-2" (click)="openNewPopUp(addFoodAllowance, false)"
									[disabled]="summaryModel.searchloading">
									   +{{
										'CUSTOMER_PRODUCT_SUMMARY.LBL_ADDNEW' | translate
										}}
									<span *ngIf="summaryModel.exportLoading">
										<i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
									</span>
								</button>
								<button class="primary-cta small" [disabled]="summaryModel.searchloading"
									(click)="SearchDetails()"> {{ 'COMMON.LBL_SEARCH' | translate }}
									<span *ngIf="summaryModel.searchloading">
										<i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
									</span>
								</button>
							</div>
						</div>
					</div>


					<div class="centerContainerPadding float-left" *ngIf="(model.items && model.items.length>0)">
						<div class="row">
							<div class="col-6 col-sm-3 col-xl-2 d-flex">
								<p class="search-trigger-heading" [innerHtml]="showPaginationText()"></p>
							</div>
							<div class="col-6 col-sm-9 col-xl-10 text-right">
								<ul class="table-badge-container mobile-hide tablet-hide">
								</ul>
								<div class="animated-icon-container" *ngIf="!isFilterOpen"
									(click)="toggleFilterSection()">
									<img src="assets/images/cta-search-grey.svg" alt="search">
								</div>
							</div>
						</div>
						<div class="row mt-3 desktop-hide">
						</div>
						<div class="quotation-search-container">
							<div class="table-container h-scroll table-max-height-650">
								<table class="pagination-table simple-table bordered">
									<thead>
										<tr class="sticky-top-row">
											<th class="Center_Middle width-60"></th>
											<th class="width-120 sticky-left-column">{{ 'COMMON.LBL_FACTORY_COUNTRY' | translate}}</th>
											<th class="width-160 sticky-left-column">{{'FOOD_ALLOWANCE.LBL_STARTDATE' | translate }}</th>
											<th class="width-180 sticky-left-column">{{'FOOD_ALLOWANCE.LBL_ENDDATE' | translate }}</th>
											<th class="width-180 sticky-left-column">{{'FOOD_ALLOWANCE.LBL_FOOD_ALLOWANCE' | translate }}</th>
											<th class="width-100 sticky-left-column">{{'FOOD_ALLOWANCE.LBL_CURRENCY' | translate }}
											</th>
										</tr>
									</thead>
									<tbody>

										<ng-template ngFor let-iteminfo [ngForOf]="model.items" let-i="index">
											<tr [ngClass]="(((i+1) % 2)== 0)?'even':'odd'"
												style="border-left: 5px solid #fff;">

												<td><span class="table-cta icon-cta common-tooltip"
														(click)="editFoodAllowance(iteminfo.id, addFoodAllowance)"
														data-tooltip="Edit">
														<img src="assets/images/cta-edit.svg" alt="Edit">
													</span>
													<span class="table-cta icon-cta common-tooltip" *ngIf="iteminfo.showDeleteButton"
														(click)="openDeletePopUp(delete, iteminfo.id)"
														data-tooltip="delete">
														<img src="assets/images/cta-delete.svg" alt="Delete"></span>
												</td>

												<td class=" wordbreak width-120 sticky-left-column">
													{{ iteminfo.countryName}}
												</td>
												<td class=" wordbreak width-120 ">
													{{ iteminfo.startDate}}
												</td>
												<td class=" wordbreak width-120 ">
													{{ iteminfo.endDate}}
												</td>
												<td class=" wordbreak width-120 ">
													{{ iteminfo.foodAllowance}}
												</td>
												<td class=" wordbreak width-120 ">
													{{ iteminfo.currency}}
												</td>
											</tr>


										</ng-template>
									</tbody>
								</table>
							</div>
						</div>
						<div class="pagination-container">
							<select class="small" [(ngModel)]="summaryModel.selectedPageSize"
								(change)="SearchDetails()">
								<option *ngFor="let item of pagesizeitems" [ngValue]=item>{{item}}</option>
							</select>
							<ngb-pagination (pageChange)="onPager($event)" [pageSize]="model.pageSize"
								[collectionSize]="model.totalCount" [(page)]="model.index" [maxSize]="5">
							</ngb-pagination>
						</div>
					</div>
					<div class="centerContainerPadding" *ngIf="model.noFound">
						<div class="error-container">
							<img src="assets/images/no-result.svg" alt="" class="thumbnail">
							<h4 class="error-title">{{'COMMON.LBL_No_ITEM' | translate}}</h4>
							<p class="error-subtitle">{{'COMMON.LBL_NODATA' | translate}}</p>

							<button (click)="reset()" class="category-cta">
								<img src="assets/images/reload-new.svg" alt="reload">
								<span> {{'COMMON.LBL_CLEAR_SEARCH' | translate}}</span></button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #addFoodAllowance let-modal>
	<div class="modal-header custom-modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'FOOD_ALLOWANCE.LBL_ADD_TITLE' | translate}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body custom-modal-body">
		<div class="content-container schedule-allocation-container">
			<div class="formPadding">
				<div class="row">
					<div class="col-sm-3 mobile-margin-top-15 col-lg-4">
						<div class="my-input-group">
							<label class="required" for="">{{ 'COMMON.LBL_FACTORY_COUNTRY' | translate}}</label>
							<ng-select appendTo="body" [items]="editSummaryModel.countryList" [virtualScroll]="true"
								[loading]="editSummaryModel.countryLoading" bindLabel="name" bindValue="id"
								placeholder="--- {{ (editSummaryModel.countryList && editSummaryModel.countryList.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
								[typeahead]="editSummaryModel.countryInput" [minTermLength]="3"  (clear)="clearCountry()"
								[(ngModel)]="editModel.countryId" (scrollToEnd)="getEditCountryData()" 
								[ngClass]="{'is-invalid': !validator.isValid('countryId')}" #select>

								<ng-template ng-option-tmp let-item="item">
									<div class="text-wrap">{{ item.name }}</div>
								</ng-template>
							</ng-select>
							<div *ngIf="!validator.isValid('countryId')" class="invalid-feedback" style="display:block">
							  <div *ngFor="let error of validator.getErrors('countryId')">{{ error | translate }}</div>
							</div>
						</div>
					</div>
					<div class="my-input-group col-sm-3 col-md-6 col-lg-3">
						<label class="required">{{'FOOD_ALLOWANCE.LBL_STARTDATE' | translate }}</label>
						<div class="calendar-wrapper">
							<input type="text" maxlength="10" container="body"
								[ngClass]="{ 'is-invalid':  !validator.isValidIf('startDate',IsEditDateValidationRequired())}"
								readonly=readonly [(ngModel)]="editModel.startDate" 
								placeholder="{{'FOOD_ALLOWANCE.LBL_STARTDATE' | translate }}"
								ngbDatepicker #sdf="ngbDatepicker"
								(click)="sdf.toggle()">
							<img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
								(click)="clearEditDateInput('startDate')" *ngIf="editModel.startDate">
							<img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon"
								(click)="sdf.toggle()">
						</div>
						<div *ngIf="!validator.isValidIf('startDate',IsEditDateValidationRequired())"
							class="invalid-feedback">
							<div *ngFor="let error of validator.getErrors('startDate')">{{ error |
								translate }}</div>
						</div>
					</div>
					<div class="my-input-group col-sm-3 col-md-6 col-lg-3">
						<label class="required">{{'FOOD_ALLOWANCE.LBL_ENDDATE' | translate }}</label>
						<div class="calendar-wrapper">
							<input type="text" maxlength="10" container="body"
								[ngClass]="{ 'is-invalid':  !validator.isValidIf('endDate',IsEditDateValidationRequired())}"
								readonly=readonly [(ngModel)]="editModel.endDate" 
								placeholder="{{'FOOD_ALLOWANCE.LBL_ENDDATE' | translate }}"
								ngbDatepicker #sdt="ngbDatepicker"
								(click)="sdt.toggle()" >
							<img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
								(click)="clearEditDateInput('endDate')" *ngIf="editModel.endDate">
							<img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon"
								(click)="sdt.toggle()">
						</div>
						<div *ngIf="!validator.isValidIf('endDate',IsEditDateValidationRequired())"
							class="invalid-feedback">
							<div *ngFor="let error of validator.getErrors('endDate')">{{ error |
								translate }}</div>
						</div>
					</div>
				</div>
				<div class="row marginTop15">
					<div class="my-input-group col-sm-3 col-md-6 col-lg-4">
						<label class="required">{{'FOOD_ALLOWANCE.LBL_FOOD_ALLOWANCE' | translate }}</label>
						<input type="number" min="0" max="999" 
						placeholder="{{'FOOD_ALLOWANCE.LBL_FOOD_ALLOWANCE' | translate }}"
						[(ngModel)]="editModel.foodAllowanceValue" [ngClass]="{'is-invalid': !validator.isValid('foodAllowanceValue')}">
						<div *ngIf="!validator.isValid('foodAllowanceValue')" class="invalid-feedback" style="display:block">
						  <div *ngFor="let error of validator.getErrors('foodAllowanceValue')">{{ error | translate }}</div>
						</div>
					</div>
					<div class="my-input-group col-sm-3 col-md-6 col-lg-4">
						<label for="" class="required">{{ 'FOOD_ALLOWANCE.LBL_CURRENCY' | translate}}</label>
						<ng-select appendTo="body" [items]="editSummaryModel.currencyList"
							[loading]="editSummaryModel.currencyLoading" bindLabel="name" bindValue="id"
							placeholder="--- {{ (editSummaryModel.currencyList && editSummaryModel.currencyList.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
							[(ngModel)]="editModel.currencyId" [ngClass]="{'is-invalid': !validator.isValid('currencyId')}" #select>

							<ng-template ng-option-tmp let-item="item">
								<div class="text-wrap">{{ item.name }}</div>
							</ng-template>
						</ng-select>
						<div *ngIf="!validator.isValid('currencyId')" class="invalid-feedback" style="display:block">
						  <div *ngFor="let error of validator.getErrors('currencyId')">{{ error | translate }}</div>
						</div>
					</div>
				</div>

						<div class="marginTop20 modal-footer">
							<button [disabled]="editSummaryModel.saveloading" class="secondary-cta MarginR-20"
								(click)="cancel()">
								{{'COMMON.LBL_CONFIRMCANCEL' | translate}}
							</button>
							<button [disabled]="editSummaryModel.saveloading" class="primary-cta MarginR-20"
								(click)="save()">
								{{'COMMON.LBL_SAVE' | translate}}
								<span *ngIf="editSummaryModel.saveloading">
									<i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
								</span>
							</button>
						</div>
			
			</div>
		</div>
	</div>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-body">
        <div class="small-model new-padding">
            <h2 class="confirm-title"><img class="mr-2" src="assets/images/caution-red.svg" alt="">{{ 'EMAIL_CONFIGURATION_SUMMARY.LBL_CONFIRMDELETION' | translate }}</h2>
            <p class="light">{{ 'EMAIL_CONFIGURATION_SUMMARY.MSG_QUESTION_SURE' | translate }} </p>
            <div class="text-right">
                <button class="tertiary-cta small" (click)="modal.dismiss('Cross click')">
					   {{
						'COMMON.LBL_CONFIRMCANCEL' | translate
					   }}
					</button>
                <button class="primary-cta small" (click)="deleteWorks()">{{ 'COMMON.LBL_OK' | translate }}
                    <span *ngIf="editSummaryModel.deleteLoading">
                        <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</ng-template>
