<div class="main-wrapper">
	<div class="wrapper dashboard-wrapper">
		<div class="my-container">
			<div class="master-body">
				<div class="title-container">
					<div class="header-back-button">
						<img src="assets/images/back-red.png" alt="back"
							(click)="return('inspsummary/booking-summary')">
					</div>
					<h3 class="main-title">{{'BOOKING_SUMMARY.LBL_REPORT_DETAILS' | translate }}</h3>
					<span class="audit-id">#{{reportData.reportTitle}}</span>
				</div>
				<div class="content-container tracking-container">
					<div class="row formPadding">
						<div class="col-sm-3">
							<div class="thumbnail-container">
								<img *ngIf="reportData.reportPhoto!=null" src="{{reportData.reportPhoto}}"
									alt="thumbnail">
								<img *ngIf="reportData.reportPhoto==null" src="assets/images/image-placeholder.svg"
									alt="thumbnail">

							</div>

						</div>
						<div class="col-sm-9">
							<div class="row report-status">
								<div class="col-sm-12">
									<div *ngIf="reportData.reportResultId==1" class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_REPORT_RESULT' | translate }}</p>
										<img class="icon" src="assets/images/green-tick.png" alt="tick">
										<span class="result-title green">{{'BOOKING_SUMMARY.LBL_REPORT_PASS' | translate
											}}
										</span>
									</div>
									<div *ngIf="reportData.reportResultId==2" class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_REPORT_RESULT' | translate }}</p>
										<img class="icon" src="assets/images/red-close-thick.svg" alt="tick">
										<span class="result-title red">{{'BOOKING_SUMMARY.LBL_REPORT_FAIL' | translate
											}}
										</span>
									</div>
									<div *ngIf="reportData.reportResultId==3" class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_REPORT_RESULT' | translate }}</p>
										<img class="icon" src="assets/images/process.svg" alt="tick">
										<span class="result-title yellow">{{'BOOKING_SUMMARY.LBL_REPORT_PENDING' |
											translate }}</span>
									</div>
									<div *ngIf="reportData.reportResultId==4" class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_REPORT_RESULT' | translate }}</p>
										<img class="icon" src="assets/images/not-available.svg" alt="tick">
										<span class="result-title grey">{{'BOOKING_SUMMARY.LBL_REPORT_NA' | translate
											}}</span>
									</div>
									<div *ngIf="reportData.reportResultId==5" class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_REPORT_RESULT' | translate }}</p>
										<img class="icon" src="assets/images/missing.svg" alt="tick">
										<span class="result-title grey">{{'BOOKING_SUMMARY.LBL_REPORT_MISSING' |
											translate }}</span>
									</div>

									<div *ngIf="(reportData.customerResultId==1)
								 && (_IsInternalUser ||( _IsCustomerUser && (editCustomerDecision || viewCustomerDecision)))"
										class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_CUSTOMER_DECISION' | translate }}</p>
										<img class="icon" src="assets/images/green-tick.svg" alt="tick">
										<span class="result-title green">{{reportData.customerDecisionStatus}}</span>
										<span class="small">{{reportData.customerDecisionComments}}</span>
									</div>

									<div *ngIf="(reportData.customerResultId==2)
									&& (_IsInternalUser ||( _IsCustomerUser && (editCustomerDecision || viewCustomerDecision)))"
										class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_CUSTOMER_DECISION' | translate }}</p>
										<img class="icon" src="assets/images/red-close-thick.svg" alt="tick">
										<span class="result-title red">{{reportData.customerDecisionStatus}}</span>
										<span class="small">{{reportData.customerDecisionComments}}</span>
									</div>

									<div *ngIf="(reportData.customerResultId==3)
									&& (_IsInternalUser ||( _IsCustomerUser && (editCustomerDecision || viewCustomerDecision)))"
										class="result-block">
										<p class="small">{{'BOOKING_SUMMARY.LBL_CUSTOMER_DECISION' | translate }}</p>
										<img class="icon" src="assets/images/process.svg" alt="tick">
										<span class="result-title yellow">{{reportData.customerDecisionStatus}}</span>
										<span class="small">{{reportData.customerDecisionComments}}</span>
									</div>
								</div>

							</div>
							<div class="row marginTop20">
								<div class="col-sm-6 result-border-right">
									<div class="my-input-group">
										<label for="" class="light">{{'BOOKING_SUMMARY.LBL_SUPPLIER_VENDOR' | translate
											}}</label>
										<p class="input-value">{{bookingData.supplierName}}</p>
										<!-- <p class="input-value light">{{bookingData.supplierAddress}}</p> -->
									</div>
									<div class="my-input-group marginTop15">
										<label for="" class="light">{{'BOOKING_SUMMARY.LBL_FACTORY_MILL' | translate
											}}</label>
										<p class="input-value">{{bookingData.factoryName}}</p>
										<p class="input-value light">{{bookingData.factoryAddress}}</p>
									</div>

									<div *ngIf="reportProducts && reportProducts.length==1"
										class="my-input-group marginTop15">
										<label for="" class="light">Product description</label>
										<p class="input-value">{{reportProducts[0].productDescription}}</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row result-detail-container">
										<p class="light col-sm-6 col-6">
											{{'BOOKING_SUMMARY.LBL_BOOKING_NUMBER' | translate }}</p>
										<p class="dark col-sm-6 col-6">{{bookingData.bookingId}}</p>
										<p class="light col-sm-6 col-6">
											{{'BOOKING_SUMMARY.LBL_REPORT_NUMBER' | translate }}</p>
										<p class="dark col-sm-6 col-6">{{reportData.reportTitle}}</p>

										<p *ngIf="reportProducts && reportProducts.length==1"
											class="light col-sm-6 col-6">
											{{'EDIT_INSPECTION_CERTIFICATE.LBL_DESTINATION_COUNTRY' | translate }}</p>
										<p *ngIf="reportProducts && reportProducts.length==1"
											class="dark col-sm-6 col-6">{{reportProducts[0].destinationCountry}}</p>

										<p class="light col-sm-6 col-6">
											{{'BOOKING_SUMMARY.LBL_INSPECTION_TYPE' | translate }}</p>
										<p class="dark col-sm-6 col-6">{{bookingData.inspectionType}}</p>

										<p class="light col-sm-6 col-6">
											{{'BOOKING_SUMMARY.LBL_INSPECTION_DATE' | translate }}</p>
										<p class="dark col-sm-6 col-6">{{reportData.inspectionDate}}</p>


										<p *ngIf="reportProducts && reportProducts.length==1"
											class="light col-sm-6 col-6">
											{{'INSPECTION_CERTIFICATE_SUMMARY.LBL_BookingQuantity' | translate }}</p>
										<p *ngIf="reportProducts && reportProducts.length==1"
											class="dark col-sm-6 col-6">{{reportProducts[0].bookingQuantity}}</p>

										<p *ngIf="reportProducts && reportProducts.length==1"
											class="light col-sm-6 col-6">
											{{'BOOKING_SUMMARY.LBL_PRESENTED_QTY' | translate }}</p>
										<p *ngIf="reportProducts && reportProducts.length==1"
											class="dark col-sm-6 col-6">{{reportProducts[0].presentedQuantity}}</p>

										<p *ngIf="reportProducts && reportProducts.length==1"
											class="light col-sm-6 col-6">
											{{'INSPECTION_CERTIFICATE_SUMMARY.LBL_InspectedQuantity' | translate }}</p>
										<p *ngIf="reportProducts && reportProducts.length==1"
											class="dark col-sm-6 col-6">{{reportProducts[0].inspectedQuantity}}</p>

										<p *ngIf="reportProducts && reportProducts.length>1 && reportProducts[0].combineProductCount>1"
											class="blue col-sm-12">{{'BOOKING_SUMMARY.LBL_COMBINED' | translate }}
											{{reportProducts[0].combineProductCount}}
											{{'BOOKING_SUMMARY.LBL_PRODUCTS_IN_ORDER' | translate }} </p>
									</div>
								</div>
							</div>
							<div class="row marginTop20">
								<div class="col-sm-12">
									<button (click)="downloadReport(reportData)" class="primary-cta small">
										{{'BOOKING_SUMMARY.LBL_DOWNLOAD_REPORT' | translate }}
									</button>

									<!-- <button [disabled]="isCustomerDecisionButtonEnable" *ngIf="bookingData.isCustomerCheckPoint && editCustomerDecision"
                          class="secondary-cta small marginLeft10"
                          (click)="openCustomerDecision(customerDecision)">
                    {{'BOOKING_SUMMARY.LBL_CUSTOMER_DECISION' | translate }}
                  </button> -->

									<button
										*ngIf="reportData.additionalPhotos!=null && reportData.additionalPhotos.length>0"
										class="secondary-cta small marginLeft10"
										(click)="getAdditionalPreviewProductImage(reportData.additionalPhotos,additionalImage)">
										{{'BOOKING_SUMMARY.LBL_ADDITIONAL_PHOTO' | translate }}
									</button>

								</div>
							</div>
						</div>
					</div>
				</div>


				<ng-container *ngIf="bookingData.inspectionTypeId!=inspectionServiceType.Container">
					<ng-template [ngTemplateOutlet]="productListTemplate"
						[ngTemplateOutletContext]="{ reportProducts: reportProducts}">
					</ng-template>
				</ng-container>

				<ng-container *ngIf="bookingData.inspectionTypeId==inspectionServiceType.Container">
					<ng-template [ngTemplateOutlet]="containerListTemplate"
						[ngTemplateOutletContext]="{ reportContainers: reportContainers}">
					</ng-template>
				</ng-container>


				<div *ngIf="inspectionReportSummaryList.length>0" class="content-container tracking-container">
					<div class="container-head">
						<img class="head-icon" src="assets/images/inspection-icon.svg" alt="">
						{{'INSPECTION_CANCEL.LBL_MAIN_DETAILS' | translate }}
					</div>
					<div class="row formPadding">
						<div *ngIf="inspectionReportSummaryList.length>0" class="col-sm-12 position-relative">
							<h6 class="section-title">{{'BOOKING_SUMMARY.LBL_INSPECTION_RESULT' | translate }}</h6>
							<div class="marginTop20">
								<div *ngFor="let summary of inspectionReportSummaryList; let i=index"
									[ngClass]="(((i==0) || (i % 3)== 0))?'result-card padding20 border-right':  ((i+1) % 3 == 0) ?'result-card' : 'result-card border-right'">
									<p class="title">{{summary.name}}</p>
									<span class="status fail" *ngIf="summary.resultId==2">
										<img style="cursor: pointer;" src="assets/images/red-close-thick.svg"
											alt="tick">
										{{'BOOKING_SUMMARY.LBL_REPORT_FAIL' | translate }}
									</span>
									<span class="status" *ngIf="summary.resultId==1">
										<img style="cursor: pointer;" src="assets/images/green-tick.png" alt="tick">
										{{'BOOKING_SUMMARY.LBL_REPORT_PASS' | translate }}
									</span>
									<span class="status pending" *ngIf="summary.resultId==3">
										<img style="cursor: pointer;" src="assets/images/process.svg" alt="tick">
										{{'BOOKING_SUMMARY.LBL_REPORT_PENDING' | translate }}
									</span>
									<span class="status lightgrey" *ngIf="summary.resultId==4">
										<img style="cursor: pointer;" src="assets/images/not-available.svg" alt="tick">
										{{'BOOKING_SUMMARY.LBL_REPORT_NA' | translate }}
									</span>
									<span class="status lightgrey" *ngIf="summary.resultId==5">
										<img style="cursor: pointer;" src="assets/images/missing.svg" alt="tick">
										{{'BOOKING_SUMMARY.LBL_REPORT_MISSING' | translate }}
									</span>

									<p class="small">{{getReplaceSpecialChar(summary.remarks)}}</p>
									<div *ngIf="summary.photos.length>0" class="count">
										<img style="cursor: pointer;"
											(click)="getPreviewProductImage(summary.photos,summaryImage)"
											src="assets/images/scene.svg" alt="image">
										<span class="number">{{summary.photoCount}}</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div *ngIf="inspectionDefectList.length>0" class="content-container tracking-container">
					<div class="container-head">
						<img class="head-icon" src="assets/images/inspection-icon.svg" alt="">
						{{'BOOKING_SUMMARY.LBL_DEFECT_DETAILS' | translate }}
					</div>
					<div class="row formPadding">
						<div *ngIf="inspectionDefectList.length>0" class="col-sm-12 marginTop20 position-relative">
							<h6 class="section-title">{{'BOOKING_SUMMARY.LBL_DEFECT_RESULT' | translate }} </h6>
							<div class="marginTop20">

								<div *ngIf="isCriticalDefectavailable" class="defect-card">
									<h4 class="title">{{'BOOKING_SUMMARY.LBL_Critical' | translate }}</h4>
									<div class="row defect-content">
										<ng-template ngFor let-item [ngForOf]="inspectionDefectList">
											<p *ngIf="item.critical!=0 && item.critical!=null"
												class="small col-sm-9 col-9">{{item.description}}</p>
											<p *ngIf="item.critical!=0 && item.critical!=null"
												class="small col-sm-3 col-3">{{item.critical}}</p>
										</ng-template>
									</div>
								</div>

								<div *ngIf="isMajorDefectavailable" class="defect-card">
									<h4 class="title">{{'BOOKING_SUMMARY.LBL_Major' | translate }}</h4>
									<div class="row defect-content">
										<ng-template ngFor let-item [ngForOf]="inspectionDefectList">
											<p *ngIf="item.major!=0 && item.major!=null" class="small col-sm-9 col-9">
												{{item.description}}</p>
											<p *ngIf="item.major!=0 && item.major!=null" class="small col-sm-3 col-3">
												{{item.major}}</p>
										</ng-template>
									</div>
								</div>

								<div *ngIf="isMinorDefectavailable" class="defect-card">
									<h4 class="title">{{'BOOKING_SUMMARY.LBL_Minor' | translate }}</h4>
									<div class="row defect-content">
										<ng-template ngFor let-item [ngForOf]="inspectionDefectList">
											<p *ngIf="item.minor!=0 && item.minor!=null" class="small col-sm-9 col-9">
												{{item.description}}</p>
											<p *ngIf="item.minor!=0 && item.minor!=null" class="small col-sm-3 col-3">
												{{item.minor}}</p>
										</ng-template>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="loader-overlay" *ngIf="pageLoader">
		<div class="loader-container">
			<img src="assets/images/reload.svg" alt="">
			<span>{{'COMMON.LBL_LOADER' | translate}}</span>
		</div>
	</div>
</div>

<ng-template #defectsModel let-modal>
	<div class="modal-header custom-modal-header">
		<h4 class="modal-title" id="modal-title">
			{{'BOOKING_SUMMARY.LBL_DEFECT_DETAILS' | translate }}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body custom-modal-body">
		<div class="content-container tracking-container">
			<div class="row formPadding" *ngIf="inspectionProductDefectList && inspectionProductDefectList.length>0">
				<div class="col-sm-12 position-relative">

					<div *ngIf="isCriticalProductDefectavailable" class="defect-card col-md-4">
						<h4 class="title">{{'BOOKING_SUMMARY.LBL_Critical' | translate }}</h4>
						<div class="row defect-content">
							<ng-template ngFor let-item [ngForOf]="inspectionProductDefectList">
								<p *ngIf="item.critical!=0 && item.critical!=null" class="small col-sm-9 col-9">
									{{item.description}}</p>
								<p *ngIf="item.critical!=0 && item.critical!=null" class="small col-sm-3 col-3">
									{{item.critical}}</p>
							</ng-template>
						</div>
					</div>

					<div *ngIf="isMajorProductDefectavailable" class="defect-card col-md-4">
						<h4 class="title">{{'BOOKING_SUMMARY.LBL_Major' | translate }}</h4>
						<div class="row defect-content">
							<ng-template ngFor let-item [ngForOf]="inspectionProductDefectList">
								<p *ngIf="item.major!=0 && item.major!=null" class="small col-sm-9 col-9">
									{{item.description}}</p>
								<p *ngIf="item.major!=0 && item.major!=null" class="small col-sm-3 col-3">{{item.major}}
								</p>
							</ng-template>
						</div>
					</div>

					<div *ngIf="isMinorProductDefectavailable" class="defect-card col-md-4">
						<h4 class="title">{{'BOOKING_SUMMARY.LBL_Minor' | translate }}</h4>
						<div class="row defect-content">
							<ng-template ngFor let-item [ngForOf]="inspectionProductDefectList">
								<p *ngIf="item.minor!=0 && item.minor!=null" class="small col-sm-9 col-9">
									{{item.description}}</p>
								<p *ngIf="item.minor!=0 && item.minor!=null" class="small col-sm-3 col-3">{{item.minor}}
								</p>
							</ng-template>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

</ng-template>

<ng-template #summaryImage let-modal>
	<div class="modal-header custom-modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{'BOOKING_SUMMARY.INSPECTION_SUMMARY__TITLE' | translate}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body custom-modal-body">
		<ngx-gallery [options]="productGalleryOptions" [images]="productGalleryImages"></ngx-gallery>
	</div>
</ng-template>

<ng-template #additionalImage let-modal>
	<div class="modal-header custom-modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{'BOOKING_SUMMARY.INSPECTION_ADDITIONAL__TITLE' | translate}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body custom-modal-body">
		<ngx-gallery [options]="additionalproductGalleryOptions" [images]="additionalproductGalleryImages">
		</ngx-gallery>
	</div>
</ng-template>

<ng-template #customerDecision let-modal>
	<div class="modal-body header-small-modal">
		<div class="small-model">
			<div class="head">
				<h6>{{'BOOKING_SUMMARY.LBL_CUSTOMER_DECISION' | translate }}</h6>
				<img src="assets/images/black-close.svg" alt="close" class="close" (click)="cancelCustomerDecision()">
			</div>
			<div class="body">
				<div class="my-input-group">
					<div *ngFor="let decision of inspectionCustomerDecisionList; let i=index"
						class="styled-radio-container">
						<input type="radio" class="styled-radio" id="{{decision.id}}" [value]="decision.id"
							[(ngModel)]="customerDecisionModel.customerResultId"
							(change)="SetCustomerDecision(decision.id)" name="radio-group">
						<label for="{{decision.id}}">{{decision.name}}</label>
					</div>

				</div>

				<div class="my-input-group marginTop20">
					<label for="">{{'BOOKING_SUMMARY.LBL_COMMENT' | translate }}</label>
					<textarea [(ngModel)]="customerDecisionModel.comments" placeholder="Text goes here"></textarea>
				</div>

				<div class="my-input-group marginTop20">
					<div class="styled-checkbox-container">
						<input class="styled-checkbox" id="checkbox-1" type="checkbox"
							[(ngModel)]="customerDecisionModel.sendEmailToFactoryContacts">
						<label for="checkbox-1">{{ 'BOOKING_SUMMARY.LBL_SEND_FACTORY_EMAIL' | translate }}</label>
					</div>
				</div>

				<div class="marginTop20 text-right">
					<button class="secondary-cta" (click)="cancelCustomerDecision();">Cancel</button>
					<button [disabled]="isCustomerSaveDecisionButton" class="primary-cta"
						(click)="SaveCustomerDecision()">Done</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #productListTemplate let-reportProducts="reportProducts">

	<div *ngIf="reportProducts && reportProducts.length>1" class="content-container tracking-container">
		<div class="container-head">
			<img class="head-icon" src="assets/images/product-icon.svg" alt="">
			{{'BOOKING_SUMMARY.LBL_PRODUCT_HEADER' | translate }}
		</div>
		<div class="table-container" style="overflow-y: scroll;max-height:400px;">
			<table class="pagination-table simple-table">
				<thead>
					<tr>
						<th class="desktop-hide"></th>
						<th>{{'BOOKING_SUMMARY.LBL_PRODUCT_ID' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_PRODUCT_DESC' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_BookingQuantity' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_InspectedQuantity' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_PRESENTED_QTY' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_INSPECTION_DATE' | translate }}</th>
						<th>{{'EDIT_INSPECTION_CERTIFICATE.LBL_DESTINATION_COUNTRY' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_Critical' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_Major' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_Minor' | translate }}</th>

						<th class="mobile-hide tablet-hide"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of reportProducts" class="white merged">
						<td class="desktop-hide">
							<button *ngIf="product.minor>0 || product.major>0 || product.critical>0"
								(click)="openDefects(defectsModel,product.inspectionPoId)"
								class="secondary-cta x-small">{{'BOOKING_SUMMARY.LBL_VIEW_DEFECT' | translate
								}}</button>
						</td>
						<td class="width-140">{{product.productName}}</td>
						<td class="width-140">{{product.productDescription}}</td>
						<td class="width-100 Center_Middle">{{product.bookingQuantity}}</td>
						<td class="width-100 Center_Middle">{{product.inspectedQuantity}}</td>
						<td class="width-100 Center_Middle">{{product.presentedQuantity}}</td>
						<td class="width-140 Center_Middle">{{product.inspectionDate}}</td>
						<td class="width-140">{{product.destinationCountry}}</td>
						<td class="width-60 Center_Middle">{{product.critical}}</td>
						<td class="width-60 Center_Middle">{{product.major}}</td>
						<td class="width-60 Center_Middle">{{product.minor}}</td>

						<td class="mobile-hide tablet-hide vertical-bottom width-140 Center_Middle">
							<button *ngIf="product.minor>0 || product.major>0 || product.critical>0"
								(click)="openDefects(defectsModel,product.inspectionPoId)"
								class="secondary-cta x-small">{{'BOOKING_SUMMARY.LBL_VIEW_DEFECT' | translate
								}}</button>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

</ng-template>


<ng-template #containerListTemplate let-reportContainers="reportContainers">

	<div *ngIf="reportContainers && reportContainers.length>0" class="content-container">
		<div class="container-head">
			<img class="head-icon" src="assets/images/product-icon.svg" alt="">
			{{ 'BOOKING_SUMMARY.LBL_CONTAINER_HEADER' | translate }}
		</div>
		<div class="table-container child-table" style="overflow-y: scroll;max-height:400px;">
			<table class="pagination-table simple-table">
				<thead>
					<tr>
						<th></th>
						<th class="desktop-hide"></th>
						<th>{{'EDIT_BOOKING.LBL_PRODUCT_SERIAL' | translate }}</th>
						<th>Container Name</th>
						<th>Container Size</th>
						<th>Total Booking Quntity</th>
						<th>{{'BOOKING_SUMMARY.LBL_InspectedQuantity' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_PRESENTED_QTY' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_Critical' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_Major' | translate }}</th>
						<th>{{'BOOKING_SUMMARY.LBL_Minor' | translate }}</th>
						<th class="mobile-hide tablet-hide"></th>

					</tr>
				</thead>
				<tbody>

					<tr *ngIf="reportContainers.isPlaceHolderVisible">
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>
						<td>
							<div class="table-placeholder-block animate"></div>
						</td>

					</tr>

					<ng-template ngFor let-container [ngForOf]="reportContainers" let-c="index">

						<tr>

							<td class="width40 text-center">
								<span class="expandable-trigger"
									(click)=toggleExpandRowContainer($event,container.id,container)>+</span>
							</td>

							<td class="Center_Middle">{{c+1}}</td>

							<td class="width-140">
								{{getContainerName(container.containerId)}}
							</td>

							<td class="Center_Middle width-60">{{container.containerSize}}</td>

							<td class="Center_Middle width-60">
								{{container.totalBookingQuantity}}
							</td>

							<td class="width-100 Center_Middle">{{container.inspectedQuantity}}</td>
							<td class="width-100 Center_Middle">{{container.presentedQuantity}}</td>

							<td class="width-60 Center_Middle">{{container.critical}}</td>
							<td class="width-60 Center_Middle">{{container.major}}</td>
							<td class="width-60 Center_Middle">{{container.minor}}</td>

							<td class="mobile-hide tablet-hide vertical-bottom width-140 Center_Middle">
								<button *ngIf="container.minor>0 || container.major>0 || container.critical>0"
									(click)="openDefectsByContainer(defectsModel,container.id)"
									class="secondary-cta x-small">{{'BOOKING_SUMMARY.LBL_VIEW_DEFECT' | translate
									}}</button>
							</td>

						</tr>


						<tr class="expandable-row" [attr.data-expand-id]="'container' + container.id">
							<td colspan="11">
								<div class="content-container">
									<!-- <div class="container-head">
						  {{ 'BOOKING_SUMMARY.LBL_PRODUCT_HEADER' | translate }}
						</div> -->
									<div class="table-container child-table">
										<table class="pagination-table simple-table">
											<thead>
												<tr>
													<th></th>
													<th class="desktop-hide"></th>
													<th> {{'BOOKING_SUMMARY.LBL_PRODUCT_ID' | translate }} </th>
													<th>{{'BOOKING_SUMMARY.LBL_PRODUCT_DESC' | translate }}</th>
													<th *ngIf="!isQuotationPending">{{'PRODUCT_CATEGORY.TITLE' |
														translate}}</th>
													<th>{{'PRODUCT_SUB_CATEGORY.TITLE' | translate}}</th>
												</tr>
											</thead>
											<tbody>

												<tr *ngIf="container.isPlaceHolderVisible">
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
													<td>
														<div class="table-placeholder-block animate"></div>
													</td>
												</tr>


												<ng-template ngFor let-product [ngForOf]="container.productList"
													let-p="index">

													<tr>

														<td class="width40 text-center">
															<span class="expandable-trigger"
																(click)=toggleExpandRowProduct($event,product.id,product,container.id)>+</span>
														</td>

														<td class="width-140">
															{{product.productName}}
														</td>

														<td class="width-140">
															{{product.productDescription}}
														</td>

														<td class="width-140" *ngIf="!isQuotationPending">
															{{product.productCategory}}
														</td>
														<td class="width-140">
															{{product.productSubCategory}}
														</td>

													</tr>

													<tr class="expandable-row"
														[attr.data-expand-id]="'product' + product.id + 'container'+ container.id">
														<td colspan="7" style="padding-left: 45px;">
															<div class="content-container">
																<div class="table-container child-table">
																	<table class="pagination-table simple-table">
																		<thead>
																			<tr>

																				<th> {{'BOOKING_SUMMARY.LBL_PO_NUMBER' |
																					translate }} </th>
																				<th>{{'BOOKING_COMBINEORDERS.LBL_ORDERQTY'
																					| translate}}</th>
																				<th
																					*ngIf="_IsInternalUser || _IsCustomerUser">
																					{{'BOOKING_SUMMARY.LBL_INSPECTED_QUANTITY'
																					| translate }}</th>
																				<th>{{'PURCHASEORDER_SUMMARY.LBL_ETD' |
																					translate }}</th>
																				<th>{{'EDIT_BOOKING.LBL_DESTINATION_COUNTRY'
																					| translate }}</th>

																			</tr>
																		</thead>
																		<tbody>

																			<tr *ngIf="product.isPlaceHolderVisible">

																				<td>
																					<div
																						class="table-placeholder-block animate">
																					</div>
																				</td>
																				<td>
																					<div
																						class="table-placeholder-block animate">
																					</div>
																				</td>
																				<td>
																					<div
																						class="table-placeholder-block animate">
																					</div>
																				</td>
																				<td>
																					<div
																						class="table-placeholder-block animate">
																					</div>
																				</td>
																				<td>
																					<div
																						class="table-placeholder-block animate">
																					</div>
																				</td>

																			</tr>

																			<ng-template ngFor let-po
																				[ngForOf]="product.poList"
																				let-q="index">

																				<tr>

																					<td>{{po.poNumber}}</td>
																					<td>{{po.bookingQuantity}}</td>
																					<td *ngIf="_IsInternalUser || _IsCustomerUser"
																						class="Center_Middle width-60">
																						<span
																							*ngIf="reportData.reportStatus=='Validated'">{{po.inspectedQuantity}}</span>
																					</td>
																					<td>{{po.etd}}</td>
																					<td>{{po.destinationCountry}}</td>
																				</tr>
																			</ng-template>
																		</tbody>
																	</table>
																</div>
															</div>

														</td>
													</tr>

												</ng-template>

											</tbody>
										</table>
									</div>
									<div class="pagination-container child-table">
										<span class="small"></span>
										<span class="dark"></span>
									</div>
								</div>
							</td>
						</tr>

					</ng-template>


				</tbody>
			</table>
			<div class="pagination-container child-table">
				<span class="small"></span>
				<span class="dark"></span>
			</div>
		</div>
	</div>

</ng-template>
