input[type="password"], input[type="number"], select{
	width: 100%;
	padding: 12px;
	color: #24424d;
	font-weight: 500;
	line-height: 1.64;
	position: relative;
	margin-bottom: 6px;
	border-radius: 2px;
	font-size: 14px !important;
	border: solid 1px rgba(189, 210, 226, 0.8);

	&:disabled{
		color: #24424d;
		border: solid 1px rgba(189, 210, 226, 0.8);
		background-color: rgba(220, 234, 245, 0.3);
	}
}
