<div class="main-wrapper">
    <div class="wrapper dashboard-wrapper">
    
      <div class="my-container">
        <div class="master-body">
          <!-- <div class="title-container">
            <h3 class="main-title">
                {{ 'LOGIN.LBL_PASSWORD_MAIN' | translate }}
            </h3>
          </div> -->
      
          <div class="content-container">
            <h4  *ngIf="!isResetPassword" class="container-head"> {{ 'LOGIN.LBL_PASSWORD_MAIN' | translate }}</h4>
            <h4 *ngIf="isResetPassword" class="container-head"> {{ 'LOGIN.LBL_RESET_PASSWORD_MAIN' | translate }}</h4>
            <div class="formPadding">

              <div class="row marginTop15" *ngIf="!isResetPassword">
                <div class="col-sm-6">
                  <div class="my-input-group">
                    <label class="control-label required">{{ 'LOGIN.LBL_CURRENT_PASSWORD' | translate }}</label>
                    <input [(ngModel)]="model.currentPassword" type="password" [ngClass]="{ 'is-invalid': !validator.isValid('currentPassword')}"
                           placeholder="Please Enter Current Password">
                  </div>
                  <div *ngIf="!validator.isValid('currentPassword')" class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('currentPassword')">{{ error | translate }}</div>
                  </div>
                </div>
              </div>
              <div class="row marginTop15">
                <div class="col-sm-6 mobile-margin-top-15">
                  <div class="my-input-group">
                    <label class="control-label required"> {{ 'LOGIN.LBL_NEW_PASSWORD' | translate }}</label>
                    <input type="password" [(ngModel)]="model.newPassword" [ngClass]="{'is-invalid': !validator.isValid('newPassword')}"
                           placeholder="Please Enter New Password">
                  </div>
                  <div *ngIf="!validator.isValid('newPassword')" class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('newPassword')">{{ error | translate }}</div>
                  </div>
                </div>
              </div>
              <div class="row marginTop15">
                <div class="col-sm-6">
                  <div class="my-input-group mobile-margin-top-15">
                    <label class="control-label required">{{ 'LOGIN.LBL_CONFIRM_PASSWORD' | translate }}</label>
                    <input type="password" [(ngModel)]="model.confirmPassword" [ngClass]="{'is-invalid': !validator.isValid('confirmPassword')}"
                           placeholder="Please Enter Confirm Password">
                  </div>
                  <div *ngIf="!validator.isValid('confirmPassword')" class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('confirmPassword')">{{ error | translate }}</div>
                  </div>
                </div>
              </div>

              <div class="row marginTop15" style="color: red">
                <div class="col-sm-6">
                  <p>New Password must meet the following standards:-</p>
                  <ul>
                    <li>Atleast (6) Characters in length</li>
                    <li>Atleast one special character and number</li>
                    <li>Please use only @ # _ -  special characters</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="form-action-container">

              <button type="button" class="secondary-cta small"
                      (click)="cancel()">
                {{ 'LOGIN.LBL_PASSWORD_RESET' | translate }}
              </button>

              <button class="primary-cta small" *ngIf="!isResetPassword" (click)="changePassword()">
                {{ 'LOGIN.LBL_PASSWORD_MAIN' | translate }}
                <span *ngIf="saveloading">
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                </span>
              </button>
              <button class="primary-cta small" *ngIf="isResetPassword" (click)="resetPassword()">
                {{ 'LOGIN.LBL_RESET_PASSWORD_MAIN' | translate }}
                <span *ngIf="saveloading">
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </div>
    
          </div>
      </div>
      </div>
      
    </div>
  
  
  
  
  
