<div class="main-wrapper">
    <div class="wrapper dashboard-wrapper">
        <div class="my-container">
            <div class="master-body">
                <div class="user-guide">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-3">
                            <div class="my-input-group">
                                <label for="" class="heading">{{ 'USER_GUIDE.LBL_DOWNLOAD_USER_MANUAL' | translate
                                    }}</label>
                                <ng-select placeholder="--- {{ 'USER_GUIDE.LBL_SEARCH' | translate }}---"
                                    [items]="userGuideDetailResponse.userGuideDetails" bindValue="id" bindLabel="name"
                                    (change)="changeModuleList($event)" (clear)="clearModuleList()">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="user-manual">
                        <div class="manual-list">
                            <div class="list-items" *ngFor="let item of userGuideMaster.userGuideDetails;let i=index;">
                                <img src={{item.imageIcon}} alt="" class="first-image">
                                <div class="title">
                                    <p class="main-title">{{item.name}}</p>
                                    <p class="sub-title">{{item.totalPage}} pages</p>
                                </div>
                                <img src="assets/images/pdf.svg" alt="" class="action-image"
                                    (click)="downloaduserGuideDetail(item)">
                                <!-- <img src="assets/images/play-button.svg" class="action-image last"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader-overlay" *ngIf="userGuideMaster.userGuideDetailLoading" [ngStyle]="{'z-index': '60'}">
	<div class="loader-container">
		<img src="assets/images/reload.svg" alt="">
		<span>{{'COMMON.LBL_LOADER' | translate}}</span>
	</div>
</div>
