<div class="main-wrapper">
  <div class="wrapper dashboard-wrapper">
    <div class="filter-bar-container" *ngIf="filterDataShown">
      <div class="my-container" *ngIf="!isMobile">
        <p class="heading"><img src="assets/images/new-set/applier-filter-search.svg" alt="">Search By
          {{filterDataShown}}
        </p>
        <ul class="applied-filter-list">
          <li *ngIf="model.fromDate || model.toDate">
            <span *ngIf="model.fromDate">
              {{'CREDIT_NOTE_SUMMARY.LBL_CREDIT_DATE' | translate}} :
              {{model.fromDate.day}}/{{model.fromDate.month}}/{{model.fromDate.year}}
            </span>

            <span *ngIf="model.toDate" class="ml-1">
              to
              {{model.toDate.day}}/{{model.toDate.month}}/{{model.toDate.year}}
            </span>
          </li>
          <li *ngIf="model.creditNo && model.creditNo != ''">
            <span>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_NO' | translate }} :
              {{model.creditNo}}
            </span>
          </li>
          <li *ngIf="model.creditType && model.creditType > 0">
            <span>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_TYPE' | translate }} :
              {{model.creditType}}
            </span>
          </li>
        </ul>
        <span class="reset-link" (click)="reset()">Reset</span>
      </div>
      <div class="my-container" *ngIf="isMobile">
        <p class="heading"> {{filterCount}} {{'COMMON.LBL_FILTER_SELECTED' | translate}}
        </p>
      </div>
    </div>
    <div class="page-head-container whiteBackground">
      <div class="my-container">
        <div class="column">
          <h3 class="page-title">
            {{'CREDIT_NOTE_SUMMARY.LBL_TITLE' | translate}}
          </h3>
        </div>
        <div class="column text-right d-flex align-items-start justify-content-end">
          <div class="custom-dropdown">
            <ul class="dropdown-list-container width-220">
              <!-- <li *ngFor="let item of bookingSearchtypelst;let idx = index" [value]="item.id" id="{{item.id}}"
                      name="radio-group" (click)="SetSearchTypemodel(item)" [(ngModel)]="model.searchtypeid">
                      <span>({{item.shortName}})</span>
                      {{item.name}}
                    </li> -->
            </ul>
          </div>
          <div class="my-input-group search-input inline">
            <div class="inline position-relative">
              <input maxlength="200" placeholder="{{'CREDIT_NOTE_SUMMARY.LBL_ENTER_CREDIT_NO' | translate}}"
                [(ngModel)]="model.creditNo" type="text"
                [ngClass]="{ 'is-invalid': model.creditNo!='' && _customvalidationforCreditid}" />

              <div class="icon-container">
                <img (click)="getSearchDetails()" src="assets/images/new-set/search-lens.svg" alt="" class="icon">
              </div>
            </div>
            <span *ngIf="model.searchtypetext!='' && _customvalidationforCreditid" class="invalid-feedback">
              {{ 'BOOKING_SUMMARY.MSG_BOOKINGNO_ERROR' | translate }}
            </span>
          </div>
          <div class="filter-cta style-4 common-tooltip" *ngIf="!isFilterOpen" (click)="toggleFilterSection()"
            data-tooltip="filter">
            <img src="assets/images/cta-filter-grey.svg" alt="">
          </div>
          <div class="filter-cta style-4 active" *ngIf="isFilterOpen" (click)="toggleFilterSection()">
            <img src="assets/images/cta-filter-grey.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="filter-container style-3" [@expandCollapse]="isFilterOpen ? 'open' : 'close'" [@.disabled]="isMobile">
      <div class="my-container customer-dashboard-mobile-filter">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4 mobile-margin-top-15">
            <div class="my-input-group">
              <label>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_DATE' | translate }}</label>
            </div>
            <div class="my-input-group">
              <div class="d-flex my-input-group">
                <div class="calendar-wrapper flex-fill mr-2">
                  <input type="text" maxlength="10" readonly=readonly container="body" [(ngModel)]="model.fromDate"
                    ngbDatepicker placeholder="{{  'COMMON.LBL_FROMDATE'  | translate }}"
                    [ngClass]="{ 'is-invalid':  !validator.isValidIf('fromDate',IsDateValidationRequired())}"
                    #from="ngbDatepicker" (click)="from.toggle()">
                  <img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
                    (click)="clearDateInput('fromDate');" *ngIf="model.fromDate">
                  <img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon" (click)="from.toggle()">
                  <div *ngIf="!validator.isValidIf('fromDate',IsDateValidationRequired())" class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('fromDate')">{{ error | translate }}
                    </div>
                  </div>
                </div>
                <div class="calendar-wrapper flex-fill">
                  <input type="text" maxlength="10" readonly=readonly container="body" [(ngModel)]="model.toDate"
                    ngbDatepicker placeholder="{{  'COMMON.LBL_TODATE'  | translate }}"
                    [ngClass]="{ 'is-invalid':  !validator.isValidIf('toDate',IsDateValidationRequired())}"
                    #to="ngbDatepicker" (click)="to.toggle()">
                  <img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
                    (click)="clearDateInput('toDate');" *ngIf="model.fromDate">
                  <img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon" (click)="to.toggle()">
                  <div *ngIf="!validator.isValidIf('toDate',IsDateValidationRequired())" class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('toDate')">{{ error | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_TYPE' | translate }}</label>
              <ng-select bindLabel="name" bindValue="id" [multiple]="false" [items]="masterModel.creditTypeList"
                [clearable]="true" [(ngModel)]="model.creditType"
                placeholder="--- {{ (masterModel.creditTypeList!=null && masterModel.creditTypeList.length!=0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
                appendTo="body" [loading]="masterModel.creditTypeLoading">
                <ng-template ng-option-tmp let-item="item">
                  <div class="text-wrap">{{ item.name }}</div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row marginTop25">
          <div class="col-12 col-sm-12 text-right mt-3 mt-sm-0">
            <button class="category-cta small mr-2 common-tooltip common-tooltip-top-2" data-tooltip="Reset"
              [disabled]="searchLoading" (click)="reset()">
              <img src="assets/images/reload-new.svg" alt="Reset">
              <span>{{ 'COMMON.LBL_RESET' | translate}}</span>
            </button>
            <button class="secondary-cta small mr-2" (click)="export()" [disabled]="masterModel.exportLoading"
              *ngIf="model.items != null && model.items.length != 0  && !model.noFound">
              <img src="assets/images/red-export.svg" alt="export">
              {{ 'COMMON.LBL_EXPORT' | translate }}
              <span *ngIf="masterModel.exportLoading">
                <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
              </span>
            </button>
            <button id="btnSearch" class="primary-cta small" [disabled]="searchLoading" style="margin-right: 5px;"
              (click)="SearchDetails()">
              {{ 'COMMON.LBL_SEARCH' | translate }}
              <span *ngIf="searchLoading">
                <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
              </span>
            </button>

          </div>
        </div>
      </div>
    </div>
    <div class="my-container">
      <ng-container *ngIf="searchLoading">
        <div class="master-body">
          <div class="content-container tracking-container transparent-bg">
            <div class="record-count pl-0 pr-0">
            </div>
            <div class="table-container">
              <table class="pagination-table">
                <thead>
                  <tr class="sticky-top-row">
                    <th></th>
                    <th class="width-80 Center_Middle">{{'EDIT_CUSTOMER_PRODUCT.LBL_VIEW' | translate}}
                    </th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_NO' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_INSPECTION' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_TYPE' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_BILL_TO' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_NOTE_DATE' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_NOTE_TOTAL' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_SORTING_TOTAL' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CURRENCY' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREATED_BY' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREATED_ON' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width20"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width50"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width20"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width50"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width20"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width50"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width20"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width50"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                    <td>
                      <div class="rect-common animate width30"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="(model.items && model.items.length>0); else noDataContainer">
        <div class="master-body">
          <div class="content-container tracking-container transparent-bg">

            <div class="record-count pl-0 pr-0">
              <div class="column">
                <p class="count" [innerHtml]="showPaginationText()"></p>
              </div>
            </div>
            <div class="table-container h-scroll">
              <table class="pagination-table bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th class="width-80 Center_Middle">{{'EDIT_CUSTOMER_PRODUCT.LBL_VIEW' | translate}}
                    </th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_NO' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_INSPECTION' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_TYPE' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_BILL_TO' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_NOTE_DATE' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREDIT_NOTE_TOTAL' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_SORTING_TOTAL' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CURRENCY' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREATED_BY' | translate }}</th>
                    <th>{{ 'CREDIT_NOTE_SUMMARY.LBL_CREATED_ON' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-iteminfo [ngForOf]="model.items" let-i="index">
                    <tr style="border-left: 5px solid #fff;">
                      <td class="Center_Middle">
                        <span *ngIf="masterModel.isAccountingCreditNoteRole" class="table-cta icon-cta common-tooltip "
                          (click)="getDetails(iteminfo.id) " data-tooltip="Edit">
                          <img src='assets/images/cta-edit.svg' alt='Edit'>
                        </span>
                        <span *ngIf="!masterModel.isAccountingCreditNoteRole" class="table-cta icon-cta common-tooltip "
                          (click)="getDetails(iteminfo.id) " data-tooltip="View">
                          <img src='assets/images/cta-view.svg' alt='View'>
                        </span>
                        <span *ngIf="masterModel.isAccountingCreditNoteRole" class="table-cta icon-cta common-tooltip "
                          (click)="openConfirm(iteminfo.id,iteminfo.creditNo,content) " data-tooltip="delete ">
                          <img src="assets/images/cta-delete.svg " alt="Delete "></span>
                      </td>
                      <td class="Center_Middle">
                        <a (click)="openInvoiceTemplatePopUp(iteminfo.creditNo,iteminfo.customerId)"><span
                            class="table-cta icon-cta common-tooltip" data-tooltip="View">
                            <img src="assets/images/cta-view.svg" alt="view">
                          </span></a>

                      </td>
                      <td><span> {{iteminfo.creditNo}}</span></td>
                      <td><span> {{iteminfo.inspectionNo}}</span></td>
                      <td>{{iteminfo.creditType}}</td>
                      <td>{{iteminfo.billTo}}</td>
                      <td>{{iteminfo.creditDate}}</td>
                      <td>{{iteminfo.refundTotal}}</td>
                      <td>{{iteminfo.sortTotal}}</td>
                      <td>{{iteminfo.currency}}</td>
                      <td>{{iteminfo.createdBy}}</td>
                      <td>{{iteminfo.createdOn}}</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>

            <div class="pagination-container">
              <div class="page-count-list">
                <select class="small" [(ngModel)]="selectedPageSize" (change)="SearchDetails()">
                  <option *ngFor="let item of pagesizeitems" [ngValue]=item>{{item}}</option>
                </select>
                <span> Records per page</span>
              </div>
              <div class="pagination-action-container text-right">
                <ngb-pagination [pageSize]="model.pageSize" [collectionSize]="model.totalCount" [boundaryLinks]="true"
                  [(page)]="model.index" [maxSize]="5" (pageChange)="onPager($event)">
                  <ng-template ngbPaginationFirst>
                    <img src="assets/images/new-set/double-arrow.svg" alt="">
                  </ng-template>
                  <ng-template ngbPaginationPrevious>
                    <img src="assets/images/new-set/single-arrow.svg" alt="" class="left-arrow">
                  </ng-template>
                  <ng-template ngbPaginationNext>
                    <img src="assets/images/new-set/single-arrow.svg" alt="" class="right-arrow">
                  </ng-template>
                  <ng-template ngbPaginationLast>
                    <img src="assets/images/new-set/double-arrow.svg" alt="" class="right-most-arrow">
                  </ng-template>
                </ngb-pagination>
              </div>
            </div>

            <div class="centerContainerPadding" *ngIf="model.noFound">
              <div class="error-container">
                <img src="assets/images/no-result.svg" alt="" class="thumbnail">
                <h4 class="error-title">{{'CREDIT_NOTE_SUMMARY.MSG_NO_ITEM_FOUND' | translate}}</h4>
                <p class="error-subtitle">{{'COMMON.LBL_NODATA' | translate}}
                </p>

                <button (click)="reset()" class="category-cta">
                  <img src="assets/images/reload-new.svg" alt="reload">
                  <span> {{'COMMON.MSG_CLEAR_SEARCH' |
                    translate}}</span></button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noDataContainer>
        <div class="master-body" *ngIf="model.noFound">
          <div class="error-container plain page-level">
            <img src="assets/images/no-result.svg" alt="" class="thumbnail">
            <h4 class="error-title">{{'BOOKING_SUMMARY.MSG_NO_ITEM_FOUND' | translate}}</h4>
            <p class="error-subtitle">{{'CS_CONFIG_SUMMARY.LBL_NODATA' | translate}}</p>
            <button (click)="Reset()" class="secondary-cta link to-primary text-transform-initial">
              {{'COMMON.MSG_CLEAR_SEARCH' | translate}}
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-body ">
    <div class="small-model ">
      <h2 class="title ">{{ 'CREDIT_NOTE_SUMMARY.LBL_CONFIRMDELETION' | translate }}</h2>
      <p>{{ 'CREDIT_NOTE_SUMMARY.MSG_CONFRMDELETE' | translate }} <strong>{{modelRemove.creditNo}}</strong>
      </p>
      <button class="secondary-cta " (click)="modal.dismiss( 'Cross click') ">{{ 'COMMON.LBL_CONFIRMCANCEL' |
        translate
        }}</button>
      <button class="primary-cta " (click)="deleteCreditNote(modelRemove); ">{{ 'COMMON.LBL_OK' | translate
        }}</button>

        </div>
    </div>
</ng-template>
<ng-template #invoicePreviewTemplate let-modal>
    <app-invoice-preview (closeInvoicePreview)="closeInvoicePreview()" [invoicePreviewModel]="invoicePreviewRequest">
    </app-invoice-preview>
  </ng-template>
