@model (DTO.Supplier.SaveSupplierResponse, string)
<span style="font-size: 13px; font-family: tahoma;">
    Dear All, <br /><br />

    New factory @Model.Item1.FactoryName was created by @Model.Item1.UserName @Model.Item1.EmailId in
    booking module. but user not selected the @Model.Item1.MissingFields.
    please input the missing factory details.


    <br /><br />
    Regards<br />
    IT Team
    <br /><br />
    <span style="font-style:italic"> Note: - This receipt is auto generated from Link. Please do not reply to this message.</span>
</span>

