<div class="main-wrapper">
    <div class="wrapper dashboard-wrapper">
        <div class="my-container">
            <div class="master-body">
                <div class="title-container">
                    <div class="header-back-button" *ngIf="fromSummary && !Initialloading">
                        <img src="assets/images/back-red.png" alt="back" (click)="this.return('cussearch/customer-summary');">
                    </div>
                    <h3 class="main-title">{{ 'CUSTOMER_BRAND.TITLE' | translate }}</h3>
                </div>
                <div class="content-container">
                    <div class="row searchFormPadding">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="my-input-group">
                                        <label class="control-label required">{{ 'CUSTOMER_BRAND.LBL_CUSTOMER' | translate }}</label>
                                        <ng-select [items]="customerList" [loading]="Initialloading" [multiple]="false" [closeOnSelect]="true" [searchable]="true" bindLabel="name" bindValue="id" placeholder="--- {{ 'CUSTOMER_BRAND.LBL_SELECT' | translate }} ---" [(ngModel)]="model.id" [ngClass]="{ 'is-invalid': !validator.isValid('id')}"
                                            (change)="selectBrand()">
                                        </ng-select>
                                        <div *ngIf="!validator.isValid('id')" class="invalid-feedback" style="display:block">
                                            <div *ngFor="let error of validator.getErrors('id')">{{ error | translate }}</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="master-search-cta-container">
                        <div class="column">
                            <button class="secondary-cta small" (click)="addBrand()" [disabled]="Initialloading">
                      <i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'CUSTOMER_BRAND.LBL_ADD' | translate }}
                    </button>
                        </div>
                        <div class="column text-right">
                        </div>
                    </div>

                    <div class="result-container">
                        <div class="formPadding">
                            <div class="table-container">
                                <table class="pagination-table bordered">
                                    <thead>
                                        <tr>
                                            <th class="required">{{ 'CUSTOMER_BRAND.LBL_BRAND_NAME' | translate }}</th>
                                            <th>{{ 'CUSTOMER_BRAND.LBL_BRAND_CODE' | translate }}</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of brandValidators;  let i = index">
                                            <tr>
                                                <td>
                                                    <input type="text" [(ngModel)]="item.brand.name" [ngClass]="{ 'is-invalid':!item.validator.isValid('name')}" maxlength="300" placeholder="{{ 'CUSTOMER_BRAND.LBL_BRAND_NAME' | translate }}">
                                                    <div *ngIf="!item.validator.isValid('name')" class="invalid-feedback">
                                                        <div *ngFor="let error of item.validator.getErrors('name')">{{ error | translate }}</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]="item.brand.brandCode" maxlength="300" placeholder="{{ 'CUSTOMER_BRAND.LBL_BRAND_CODE' | translate }}">
                                                </td>
                                                <td>
                                                    <button (click)="removeBrand(i)" class="secondary-cta x-small" style="margin-left:10px">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                                </td>

                                            </tr>

                                        </ng-container>

                                    </tbody>
                                </table>

                            </div>
                            <div class="form-action-container marginTop15">
                                <!--   <button *ngIf="fromSummary" type="button" class="secondary-cta small"
                     (click)="this.return('cussearch/customer-summary');" [disabled]="Initialloading">
                     <i class="fa fa-undo"></i>&nbsp;&nbsp;{{ 'CUSTOMER_DEPARTMENT.LBL_RETURN' | translate }}
                    </button>  -->

                                <button class="primary-cta small" (click)="save()" [disabled]="Saveloading || Initialloading">                     
                        {{ 'CUSTOMER_BRAND.LBL_SAVE' | translate }}    
                        <span *ngIf="Saveloading">
                          <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                        </span>                    
                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>