:host /deep/ .nav-tabs {
  background-color: #9fa8b3 !important;
  border-color: #abafb1 !important;
  font-size: 14px;
}


  :host /deep/  .nav-tabs .nav-link {
    color:#000
  }

.iterateContainer {
  border: 1px solid #abafb1;
  max-height: 200px;
  border-radius: 5px;
  padding: 5px 5px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.custom {
  max-height: 22px !important;
  border: none !important;
}

.multiselect-dropdown[test] {
  width: 95% !important;
}

:host /deep/ .multiselect-dropdown {
  width: 95% !important;
  font-size: 12px !important;
}

  :host /deep/ .multiselect-dropdown .dropdown-btn {
    font-size: 12px !important;
    max-height: 27px !important;
    line-height: unset !important;
  }

.is-invalid-date{
  background-color:aqua;
}

.onglet {
  margin-top: 10px;
  border: 1px solid rgba(189, 210, 226, 0.8);
  border-radius: 10px;
}


.popcustom {
  width:600px
}
.title-container-search{
  margin: 2px;
  color: #143743;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  padding: 1px 10px 10px 10px;
  font-family: roboto-medium;
  background-color: rgba(237, 228, 225, 0.6);

}

.stats-container {
  padding: 10px;
  padding-right: 20px;
}
.stats-container span {
font-size: 12px;
line-height: 1.33;
margin-left: 40px;
display: inline-block;
color: rgba(32, 59, 78, 0.6);
font-family: roboto-medium;
}
.stats-container span.big {
color: #24424d;
font-size: 36px;
margin-left: 20px;
line-height: 0.64;
font-family: roboto-light;
}
.margin10{
  margin-right: 10px !important;
}
.marginleft10{
  margin-left: 10px !important;
}
.width20{
  width:20px !important;
}