<div class="main-wrapper">
  <div class="wrapper dashboard-wrapper">
    <!-- <div class="filter-bar-container" *ngIf="masterModel.filterDataShown">
      <div class="my-container" *ngIf="!isMobile">
        <p class="heading"><img src="assets/images/new-set/applier-filter-search.svg"
            alt="">{{REJECTION_RATE.LBL_SEARCH_BY | translate}}</p>
        <ul class="applied-filter-list">
          <li *ngIf="model.serviceDateFrom">
            {{'REJECTION_RATE.LBL_FROMDATE' | translate}} : {{model.serviceDateFrom.day}}/
            {{model.serviceDateFrom.month}}/ {{model.serviceDateFrom.year}}
            <span *ngIf="model.serviceDateTo" class="ml-2">
              {{'REJECTION_RATE.LBL_TODATE' | translate}} :
              {{model.serviceDateTo.day}}/
              {{model.serviceDateTo.month}}/
              {{model.serviceDateTo.year}}
            </span>
          </li>
          <li *ngIf="masterModel.customerName">
            {{ 'REJECTION_RATE.LBL_CUSTOMER' | translate }} : {{masterModel.customerName}}
          </li>
          <li *ngIf="masterModel.supplierName">{{ 'REJECTION_RATE.LBL_SUPPLIER' | translate }} :
            {{masterModel.supplierName}}
          </li>
          <li *ngIf="masterModel.countryListName && masterModel.countryListName.length >0">
            {{ 'REJECTION_RATE.LBL_FACTORY_COUNTRY' | translate}} : {{masterModel.countryListName}}
          </li>
          <li *ngIf="(model.selectedBrandIdList && model.selectedBrandIdList.length >0) ||
                (model.selectedBuyerIdList && model.selectedBuyerIdList.length >0) ||
                (model.selectedCollectionIdList && model.selectedCollectionIdList.length >0) ||
                (model.selectedDeptIdList && model.selectedDeptIdList.length >0)">
            {{ 'COMMON.LBL_MORE' | translate}} ...
          </li>
        </ul>
        <span class="reset-link" (click)="Reset()">{{REJECTION_RATE.LBL_RESET | translate}}</span>
      </div>
      <div class="my-container" *ngIf="isMobile">
        <p class="heading"> {{filterCount}}
          {{'COMMON.LBL_FILTER_SELECTED' | translate}}
        </p>
      </div>
    </div> -->
    <div class="page-head-container whiteBackground">
      <div class="my-container">
        <div class="column">
          <h3 class="page-title">
            {{'REJECTION_RATE.LBL_TITLE' | translate}}
          </h3>
        </div>
        <div class="column text-right d-flex align-items-start justify-content-end">
          <div class="custom-dropdown">
            <span class="selected-value">{{masterModel.selectedNumber}}</span>
            <ul class="dropdown-list-container width-220">
              <li *ngFor="let item of bookingSearchtypelst;let idx = index" [value]="item.id" id="{{item.id}}"
                name="radio-group" (click)="SetSearchTypemodel(item)" [(ngModel)]="model.searchtypeid">
                <span>({{item.shortName}})</span>
                {{item.name}}
              </li>
            </ul>
          </div>
          <div class="my-input-group search-input inline">
            <div class="inline position-relative">
              <input maxlength="200" (ngModelChange)="BookingNoValidation($event)" [(ngModel)]="model.searchtypetext"
                [placeholder]="masterModel.selectedNumberPlaceHolder" type="text"/>
              <div class="icon-container">
                <img (click)="getSearchDetails()" src="assets/images/new-set/search-lens.svg" alt="" class="icon"
                  [ngClass]="{'active': masterModel.isShowSearchLens }">
              </div>
            </div>
          </div>
          <div class="filter-cta style-4 common-tooltip" *ngIf="!isFilterOpen" (click)="toggleFilterSection()"
            data-tooltip="filter">
            <img src="assets/images/cta-filter-grey.svg" alt="">
          </div>
          <div class="filter-cta style-4 active" *ngIf="isFilterOpen" (click)="toggleFilterSection()">
            <img src="assets/images/cta-filter-grey.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="filter-container style-3" [@expandCollapse]="isFilterOpen ? 'open' : 'close'" [@.disabled]="isMobile">
      <div class="my-container customer-dashboard-mobile-filter">
        <div class="row">
          <div class="col-sm-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label class="required" for="">{{'REJECTION_RATE.LBL_DATE_PERIOD' | translate}}</label>
              <div class="d-flex my-input-group">
                <div class="calendar-wrapper inline mr-2">
                  <input type="text" container="body" [(ngModel)]="model.serviceDateFrom" ngbDatepicker
                    #sdf="ngbDatepicker"
                    [ngClass]="{ 'is-invalid':  !validator.isValidIf('serviceDateFrom',IsDateValidationRequired())}"
                    placeholder="{{  'REJECTION_RATE.LBL_SERVICE_DATE_FROM'  | translate }}" (click)="sdf.toggle()">
                  <img src="assets/images/cta-calendar-grey.svg" alt="" class="calendar-icon" (click)="sdf.toggle()">
                  <div *ngIf="!validator.isValidIf('serviceDateFrom',IsDateValidationRequired())"
                    class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('serviceDateFrom')">{{ error | translate }}</div>
                  </div>
                </div>
                <div class="calendar-wrapper inline">
                  <input type="text" maxlength="10" container="body"
                    [ngClass]="{ 'is-invalid':  !validator.isValidIf('serviceDateTo',IsDateValidationRequired())}"
                    placeholder="{{  'REJECTION_RATE.LBL_SERVICE_DATE_TO'  | translate }}"
                    [(ngModel)]="model.serviceDateTo" ngbDatepicker #sdt="ngbDatepicker" (click)="sdt.toggle()">
                  <img src="assets/images/cta-calendar-grey.svg" alt="" class="calendar-icon" (click)="sdt.toggle()">
                  <div *ngIf="!validator.isValidIf('serviceDateTo',IsDateValidationRequired())"
                    class="invalid-feedback">
                    <div *ngFor="let error of validator.getErrors('serviceDateTo')">{{ error | translate }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label class="required" for="">{{'REJECTION_RATE.LBL_CUSTOMER' | translate}}</label>
              <ng-select bindLabel="name" bindValue="id" [multiple]="false" [items]="masterModel.customerList"
                [clearable]="true" [(ngModel)]="model.customerId" [virtualScroll]="true"
                (scrollToEnd)="getCustomerData(true)" [typeahead]="masterModel.customerInput" [minTermLength]="3"
                (change)="changeCustomerData($event)" (clear)="clearCustomer()"
                [ngClass]="{ 'is-invalid': !validator.isValidIf('customerId', model.searchtypetext && model.searchtypeid == 1 ? false : true)}"
                placeholder="--- {{ (masterModel.customerList && masterModel.customerList.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
                appendTo="body" [loading]="masterModel.customerLoading">
                <ng-template ng-option-tmp let-item="item">
                  <div class="text-wrap">{{ item.name }}</div>
                </ng-template>
              </ng-select>
              <div
                *ngIf="!validator.isValidIf('customerId', model.searchtypetext && model.searchtypeid == 1 ? false : true)"
                class="invalid-feedback">
                <div *ngFor="let error of validator.getErrors('customerId')">{{ error |
                  translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mobile-margin-top-15 dashboard-supplier-margin">
            <div class="my-input-group">
                <div class="my-input-group">
                    <div class="styled-radio-container" *ngFor="let item of supplierTypeList;let idx = index">
                      <input type="radio" class="styled-radio" id="{{item.id}}" name="radio-group3" [value]="item.id"
                        [checked]="true"  [(ngModel)]="model.supplierTypeId"
                        (change)="changeSupplierType(item)">
                      <label for="{{item.id}}">{{item.name}}</label>
                    </div>
                  </div>
                <ng-select appendTo="body" [items]="masterModel.supplierList" [virtualScroll]="true"
                [loading]="masterModel.supLoading" bindLabel="name" bindValue="id"
                placeholder="--- {{ (masterModel.supplierList && masterModel.supplierList.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
                [disabled]="currentUser.usertype == userTypeEnum.Supplier" [typeahead]="masterModel.supInput"
                [minTermLength]="3" [(ngModel)]="model.supplierId"
                [multiple]="false" (scrollToEnd)="getSupplierData()" (clear)="clearSupplier()" (change)="supplierChange($event)" #select>
                <ng-template ng-option-tmp let-item="item">
                    <div class="text-wrap"><span>{{item.name}}</span></div>
                </ng-template>
                </ng-select>
            </div>
          </div>
          <div class="col-sm-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label class="required" for="">{{'REJECTION_RATE.LBL_GROUP_BY' | translate}}</label>
              <ng-select appendTo="body" [items]="masterModel.groupByFilter" [virtualScroll]="true" bindLabel="name"
                bindValue="id" [ngClass]="{ 'is-invalid':  !validator.isValid('groupByFilter')}"
                placeholder="--- {{ (masterModel.groupByFilter && masterModel.groupByFilter.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
                [minTermLength]="3" [(ngModel)]="model.groupByFilter" [multiple]="true" class="multiple" #select>
                <ng-template ng-option-tmp let-item="item">
                  <div class="text-wrap">{{ item.name }}</div>
                </ng-template>
              </ng-select>
              <div *ngIf="!validator.isValid('groupByFilter')" class="invalid-feedback">
                <div *ngFor="let error of validator.getErrors('groupByFilter')">{{ error |
                  translate }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row marginTop20" *ngIf="toggleFormSection">
          <div class="col-sm-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label for="">{{ 'REJECTION_RATE.LBL_FACTORY' | translate }}</label>
              <ng-select [multiple]="true" class="multiple" [searchable]="true" [items]="masterModel.factoryList"
                bindLabel="name" [loading]="masterModel.factoryLoading" bindValue="id"
                appendTo="body" [virtualScroll]="true" (scrollToEnd)="getFactoryData()"
                [typeahead]="masterModel.factoryInput" [minTermLength]="3"
                placeholder="--- {{ (masterModel.factoryList!=null && masterModel.factoryList.length!=0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
                [(ngModel)]="model.selectedFactoryIdList" (clear)="clearFactory()">
                <ng-template ng-option-tmp let-item="item">
                  <div class="text-wrap">{{ item.name }}</div>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label for="">{{'REJECTION_RATE.LBL_BRAND' | translate}}</label>
              <ng-select [items]="masterModel.brandList" [virtualScroll]="true" [loading]="masterModel.brandLoading"
                bindLabel="name" bindValue="id"
                placeholder="--- {{ (masterModel.brandList && masterModel.brandList.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
                [typeahead]="masterModel.brandInput" [minTermLength]="3" [(ngModel)]="model.selectedBrandIdList"
                [multiple]="true" class="multiple" (scrollToEnd)="getBrandData()" [searchable]="true"
                appendTo="body" (clear)="clearBrand()">
                <ng-template ng-option-tmp let-item="item">
                  <div class="text-wrap">{{ item.name }}</div>
                </ng-template>

              </ng-select>
            </div>
          </div>
          <div class="col-sm-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label for="">{{'REJECTION_RATE.LBL_PRODUCT_CATEGORY' | translate}}</label>
              <ng-select [items]="masterModel.productCategoryList" bindLabel="name" bindValue="id"
                [hideSelected]="false" [clearable]="true" [searchable]="true" appendTo="body" [multiple]="true"
                class="multiple" [loading]="masterModel.productCategoryListLoading"
                placeholder="--- {{ (masterModel.productCategoryList && masterModel.productCategoryList.length>0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA') | translate }} ---"
                [(ngModel)]="model.selectedProdCategoryIdList">
                <ng-template ng-option-tmp let-item="item">
                  <div class="text-wrap">{{ item.name }}</div>
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="col-sm-3 mobile-margin-top-15">
            <div class="my-input-group">
              <label for="">{{ 'REJECTION_RATE.LBL_FACTORY_COUNTRY' | translate}}</label>
              <ng-select appendTo="body" [items]="masterModel.countryList" [virtualScroll]="true"
                [loading]="masterModel.countryLoading" bindLabel="name" bindValue="id"
                placeholder="--- {{ (masterModel.countryList!=null && masterModel.countryList.length!=0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }} ---"
                [typeahead]="masterModel.countryInput" [minTermLength]="3" [(ngModel)]="model.selectedCountryIdList"
                [multiple]="true" class="multiple" (scrollToEnd)="getCountryData()" (clear)="clearCountry()" #select>
                <ng-template ng-option-tmp let-item="item">
                  <span>{{item.name}}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="col-sm-3 mobile-margin-top-15 marginTop20">
            <div class="my-input-group">
              <label for="">{{'REJECTION_RATE.LBL_SERVICETYPE' | translate}}</label>
              <ng-select [items]="masterModel.serviceTypeList" [multiple]="true" class="multiple" bindLabel="name"
                bindValue="id" [(ngModel)]="model.selectedServiceTypeIdList" appendTo="body"
                [loading]="masterModel.serviceTypeLoading"
                placeholder=" ---{{ (masterModel.serviceTypeList!=null && masterModel.serviceTypeList.length!=0? 'COMMON.LBL_SELECT':'COMMON.LBL_NO_DATA' ) | translate }}---">
                <ng-template ng-option-tmp let-item="item">
                  <div class="text-wrap">{{ item.name }}</div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row marginTop20 align-items-center">
          <div class="col-6">
            <div class="advanced-search" (click)="toggleSection()">
              <img class="icon" src="assets/images/expand-new.svg" alt="" *ngIf="!toggleFormSection">
              <img class="icon" src="assets/images/collapse-new.svg" alt="" *ngIf="toggleFormSection">
              {{'COMMON.LBL_ADVANCED_SEARCH' | translate}}
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="mobile-hide">
              <button class="secondary-cta small mr-2"
                *ngIf="rejectionRateGroupList && rejectionRateGroupList.length>0  && !model.noFound"
                [disabled]="masterModel.exportDataLoading" (click)="exportRejectionRate()"> {{'COMMON.LBL_EXPORT' |
                translate}}
                <span *ngIf="masterModel.exportDataLoading">
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                </span>
              </button>
              <button class="category-cta small mr-2" (click)="reset()">
                <img src="assets/images/reload-new.svg" alt="reload">
                <span>{{'COMMON.LBL_RELOAD' | translate}}</span>
              </button>
              <button class="primary-cta small" [disabled]="masterModel.searchLoading"
                (click)="SearchDetails()">{{'COMMON.LBL_SEARCH' | translate }}
                <span *ngIf="masterModel.searchLoading">
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-container">
      <ng-container *ngIf="(rejectionRateGroupList && rejectionRateGroupList.length>0); else noDataContainer">
        <div class="master-body">
          <div class="content-container tracking-container transparent-bg">
            <div class="record-count pl-0 pr-0">
              <p class="count" [innerHtml]="showPaginationText()"></p>
            </div>
            <div class="table-container" [ngClass]="{'expanded-table' : masterModel.isShowColumn}">
              <table class="pagination-table collapsed-table">
                <thead>
                  <tr class="sticky-top-row">
                    <th *ngIf="factoryCountryGroup" class="width-200 whitespacenormal wordbreak">{{
                      'REJECTION_RATE.LBL_FACTORY_COUNTRY' | translate}}</th>
                    <th *ngIf="supplierGroup" class="width-200 whitespacenormal wordbreak">
                      {{'REJECTION_RATE.LBL_SUPPLIER' | translate}}</th>
                    <th *ngIf="factoryGroup" class="width-200 whitespacenormal wordbreak">{{
                      'REJECTION_RATE.LBL_FACTORY' | translate }}</th>
                    <th *ngIf="brandGroup" class="width-200 whitespacenormal wordbreak">
                      {{'REJECTION_RATE.LBL_BRAND' | translate}}</th>
                    <th class="width-120 whitespacenormal">{{'REJECTION_RATE.LBL_INSPECTION' | translate}}</th>
                    <th class="width-120 whitespacenormal">{{'REJECTION_RATE.LBL_REPORTS' | translate}}</th>
                    <th class="width-120 whitespacenormal">{{'REJECTION_RATE.LBL_PRESENTED_QTY' | translate}}</th>
                    <th class="width-120 whitespacenormal">{{'REJECTION_RATE.LBL_Inspected_QTY' | translate}}</th>
                    <th class="width-120 whitespacenormal">{{'REJECTION_RATE.LBL_ORDER_QTY' | translate}}</th>
                    <ng-container *ngIf="reportResultNameList && reportResultNameList.length > 0">
                      <th class="width-140 whitespacenormal extra-column"
                        *ngFor="let report of reportResultNameList">
                        {{entityName}} - {{report.name}}
                      </th>
                    </ng-container>
                    <ng-container *ngIf="reportDecisionNameList && reportDecisionNameList.length > 0">
                      <th class="width-140 whitespacenormal extra-column"
                        *ngFor="let reportDecision of reportDecisionNameList">
                        {{'REJECTION_RATE.LBL_CUSTOMER' | translate}} - {{reportDecision.name}}
                      </th>
                    </ng-container>
                    <th class="text-center">
                      <img class="cursor-pointer" [attr.data-tooltip]="masterModel.showColumnTooltip"
                        (click)="isShownColumn()" [src]="masterModel.isShowColumnImagePath" alt="">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of rejectionRateGroupList">
                    <td *ngIf="factoryCountryGroup" class="width-200 whitespacenormal wordbreak">
                      {{item.factoryCountryName}}</td>
                    <td *ngIf="supplierGroup" class="width-200 whitespacenormal wordbreak">
                      {{item.supplierName}}</td>
                    <td *ngIf="factoryGroup" class="width-200 whitespacenormal wordbreak">
                      {{item.factoryName}}</td>
                    <td *ngIf="brandGroup" class="width-200 whitespacenormal wordbreak">
                      {{item.brandName}}</td>
                    <td class="width-120 whitespacenormal">
                      {{item.inspectionCount}}
                    </td>
                    <td class="width-120 whitespacenormal">
                      {{item.totalCount}}
                    </td>
                    <td class="width-120 whitespacenormal">
                      {{item.presentedQty}}
                    </td>
                    <td class="width-120 whitespacenormal">
                      {{item.inspectedQty}}
                    </td>
                    <td class="width-120 whitespacenormal">
                      {{item.orderQty}}
                    </td>
                    <ng-container *ngIf="reportResultNameList && reportResultNameList.length > 0">
                      <td class="width-140 extra-column whitespacenormal"
                        *ngFor="let report of reportResultNameList">
                        {{GetResultCount(item, report.id)}}
                      </td>
                    </ng-container>
                    <ng-container *ngIf="reportDecisionNameList && reportDecisionNameList.length > 0">
                      <td class="width-140 extra-column whitespacenormal"
                        *ngFor="let reportDecision of reportDecisionNameList">
                        {{GetCustomDecisionCount(item,reportDecision.id)}}
                      </td>
                    </ng-container>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination-container">
              <div class="page-count-list">
                <select class="small" [(ngModel)]="selectedPageSize" (change)="SearchDetails()">
                  <option *ngFor="let item of pagesizeitems" [ngValue]=item>{{item}}</option>
                </select>
                <span> Records per page</span>
              </div>
              <div class="pagination-action-container text-right">
                <ngb-pagination [pageSize]="model.pageSize" [collectionSize]="model.totalCount" [boundaryLinks]="true"
                  [(page)]="model.index" [maxSize]="5" (pageChange)="onPager($event)">
                  <ng-template ngbPaginationFirst>
                    <img src="assets/images/new-set/double-arrow.svg" alt="">
                  </ng-template>
                  <ng-template ngbPaginationPrevious>
                    <img src="assets/images/new-set/single-arrow.svg" alt="" class="left-arrow">
                  </ng-template>
                  <ng-template ngbPaginationNext>
                    <img src="assets/images/new-set/single-arrow.svg" alt="" class="right-arrow">
                  </ng-template>
                  <ng-template ngbPaginationLast>
                    <img src="assets/images/new-set/double-arrow.svg" alt="" class="right-most-arrow">
                  </ng-template>
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noDataContainer>
        <div class="master-body" *ngIf="model.noFound">
          <div class="error-container plain page-level">
            <img src="assets/images/no-result.svg" alt="" class="thumbnail">
            <h4 class="error-title">{{'COMMON.LBL_No_ITEM' | translate}}</h4>
            <p class="error-subtitle">{{'COMMON.LBL_NODATA' | translate}}</p>
            <button (click)="reset()" class="secondary-cta link to-primary text-transform-initial">
              {{'COMMON.MSG_CLEAR_SEARCH' | translate}}
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="footer landing-footer stick-to-bottom">
      <div class="my-container">
        <div class="column">
          <p class="text">{{'COMMON.LBL_RIGHTS_RESERVED' | translate}}</p>
        </div>
        <div class="column">
          <img src="../assets/images/footer-logo.png" alt="logo" class="footer-logo">
        </div>
        <div class="column">
          <ul class="footer-item">
            <li><a href="">{{'COMMON.LBL_USER_GUIDE' | translate}}</a></li>
            <li><a href="">{{'COMMON.LBL_CONTACT' | translate}}</a></li>
            <li><a href="">{{'COMMON.LBL_HELP' | translate}}</a></li>
            <li><a href="">{{'COMMON.LBL_TERMS' | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
