@model DTO.HumanResource.LeaveApproveEmail
<span style="font-size: 13px; font-family: tahoma;">
    Dear @Model.StaffName, <br /><br />

    This is to inform you that your staff " @Model.UserName " has cancelled the leave application which applied on @Model.ApplyDate in Link.

    <br /><br />
    Thanks<br />
    IT-Team
    <br /><br />
    <span style="font-style:italic"> Note: - This receipt is auto generated from Link. Please do not reply to this message.</span>
</span>
