<div class="main-wrapper">
  <div class="wrapper dashboard-wrapper">
    <div class="my-container">
      <div class="master-body">
        <div class="title-container">
          <h3 class="main-title"> {{ 'LAB_SUMMARY.TITLE' | translate }}</h3>
        </div>
        <div class="content-container quotation-container">
          <div  [@expandCollapse]="isFilterOpen ? 'open' : 'close'" class="centerContainerPadding common-filter-container">
            <div class="animated-icon-container" (click)="toggleFilterSection()" *ngIf="(model.items && model.items.length>0)">
              <img src="assets/images/cta-close-grey.svg" alt="close">
            </div>
            <div class="row">
              <div class="col-sm-3 col-lg-3">
                  <div class="my-input-group">
                    <label class="required">{{ 'LAB_SUMMARY.LBL_TYPE' | translate }}</label>
                    <ng-select [multiple]="true" [closeOnSelect]="false" appendTo="body"
                      placeholder="--- {{ 'LAB_SUMMARY.LBL_SELECT' | translate }} ---" [searchable]="true"
                      class="multiple" [items]="masterData.mainTypeList" [loading]="masterData.mainTypeLoading"
                      bindValue="id" bindLabel="type" [(ngModel)]="model.labTypeValues"
                      [ngClass]="{ 'is-invalid': !validator.isValid('labTypeValues')}">
                    </ng-select>
                    <div *ngIf="!validator.isValid('labTypeValues')" class="invalid-feedback" style="display:block">
                      <div *ngFor="let error of validator.getErrors('labTypeValues')">{{ error | translate }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-lg-3 mobile-margin-top-15">
                  <div class="my-input-group">
                    <label>{{ 'LAB_SUMMARY.LBL_COUNTRY' | translate }}</label>
                    <ng-select [multiple]="true" [closeOnSelect]="false" appendTo="body"
                      placeholder="--- {{ 'LAB_SUMMARY.LBL_SELECT' | translate }} ---" [searchable]="true"
                      class="multiple" [items]="masterData.countryList" [loading]="masterData.countryLoading"
                      bindLabel="countryName" bindValue="id" [(ngModel)]="model.countryValues">
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4 col-lg-4 mobile-margin-top-15">
                  <div class="my-input-group">
                    <label>{{ 'LAB_SUMMARY.LBL_NAME' | translate }}</label>
                    <ng-select [multiple]="true" [closeOnSelect]="false" appendTo="body"
                      placeholder="--- {{ 'LAB_SUMMARY.LBL_SELECT' | translate }} ---" [searchable]="true"
                      class="multiple" [items]="masterData.labNameList" [loading]="masterData.labNameLoading"
                      bindLabel="labName" bindValue="id" [(ngModel)]="model.labNameValues">
                    </ng-select>
                  </div>
                </div>
              </div>
          <div class="row marginTop25">
                <div class="col-12 col-sm-12 text-right mt-3 mt-sm-0"> 
              <button id="btnSearch" class="primary-cta small" [disabled]="searchloader" (click)="search()">
                {{ 'LAB_SUMMARY.LBL_SEARCH' | translate }}
                <span *ngIf="searchloader">
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="centerContainerPadding float-left" *ngIf="(model.items && model.items.length>0)">
           
            <div class="row">
              <div class="col-6 col-sm-4 col-xl-2 d-flex">
                <p  class="search-trigger-heading" [innerHtml]="showPaginationText()"></p>
              </div>
              <div class="col-6 col-sm-8 col-xl-10 text-right">
                <div class="animated-icon-container" *ngIf="!isFilterOpen" (click)="toggleFilterSection()">
                  <img src="assets/images/cta-search-grey.svg" alt="search">
                </div>
              </div>
            </div>
            <div class="quotation-search-container">
              <div class="table-container h-scroll table-max-height-400">
                <table class="pagination-table simple-table bordered">
                <thead>
                  <tr class="sticky-top-row">
                    <th class="width-100"></th>
                    <th>{{ 'LAB_SUMMARY.LBL_NAME' | translate }}</th>
                    <th>{{ 'LAB_SUMMARY.LBL_TYPE' | translate }}</th>
                    <th>{{ 'LAB_SUMMARY.LBL_COUNTRY' | translate }}</th>
                    <th>{{ 'LAB_SUMMARY.LBL_PROVINCE' | translate }}</th>
                    <th>{{ 'LAB_SUMMARY.LBL_CITY' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let iteminfo of model.items">
                    <tr>
                      <td class="Center_Middle">
                        <span class="table-cta icon-cta common-tooltip" 
                        (click)="getDetails(iteminfo.id)" data-tooltip="Edit">
                        <img src="assets/images/cta-edit.svg" alt="Edit">
                    </span>&nbsp;<span 
                    class="table-cta icon-cta common-tooltip" 
                        (click)="openConfirm(iteminfo.id,iteminfo.labName,content)" data-tooltip="Delete">
                        <img src="assets/images/cta-delete.svg" alt="Delete">
                       </span>
                      </td>
                      <td class="wordbreak">{{iteminfo.labName}}</td>
                      <td class="wordbreak">{{iteminfo.labType}}</td>
                      <td class="wordbreak">{{iteminfo.countryName}}</td>
                      <td class="wordbreak">{{iteminfo.provinceName}}</td>
                      <td class="wordbreak">{{iteminfo.cityName}}</td>
                       
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              </div>
            </div>
            
            <div class="pagination-container">
              
              <ngb-pagination (pageChange)="onPager($event)" [pageSize]="model.pageSize"
                              [collectionSize]="model.totalCount" [(page)]="model.index" [maxSize]="5"></ngb-pagination>
            </div>
          </div>
          <div class="centerContainerPadding" *ngIf="model.noFound">
            <div class="error-container">
              <img src="assets/images/no-result.svg" alt="" class="thumbnail">
              <h4 class="title">{{ 'LAB_SUMMARY.LBL_NOITEMS' | translate }}</h4>
              <p class="error-subtitle">{{'CS_CONFIG_SUMMARY.LBL_NODATA' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-body">
      <div class="small-model">
          <h2 class="title">{{ 'LAB_SUMMARY.LBL_CONFIRMDELETION' | translate }}</h2>
  <p>{{ 'LAB_SUMMARY.MSG_CONFRMDELETE' | translate }} <strong>{{modelRemove.name}} ?</strong></p>
          <button class="secondary-cta" (click)="modal.dismiss('Cross click')">{{ 'COMMON.LBL_CONFIRMCANCEL' | translate }}</button>
         <button class="primary-cta" (click)="deleteLab(modelRemove);">{{ 'COMMON.LBL_OK' | translate }}</button>

      </div>
  </div>
</ng-template>
