<div class="main-wrapper">
  <div class="wrapper dashboard-wrapper">
    <div class="my-container">
      <div class="master-body">
        <div class="title-container">
            <div class="header-back-button" *ngIf="fromSummary && !initialLoading && !saveloading">
                <img src="assets/images/back-red.png" alt="back" (click)="this.return('csconfigsearch/csconfig-summary');">
                </div>
          <h3 class="main-title"> {{ 'CS_CONFIG_REGISTER.TITLE' | translate }}</h3>
        </div>
        <div class="content-container">
          <h4 class="container-head">{{ 'CS_CONFIG_REGISTER.LBL_DETAILS' | translate }}</h4>
          <div class="formPadding">
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="my-input-group">
                  <label class="required">{{ 'CS_CONFIG_REGISTER.LBL_CUSTOMERSERVICE' | translate }}</label>
                  <ng-select [items]="customerServiceList" [multiple]="false" [closeOnSelect]="true" [searchable]="true"
                    bindLabel="name" bindValue="id" [loading]="customerServiceLoading"
                    placeholder="--- {{ 'CS_CONFIG_REGISTER.LBL_SELECT' | translate }} ---" [(ngModel)]="model.userId"
                    (change)="onChangeCusService($event)" [ngClass]="{ 'is-invalid': !validator.isValid('userId')}">
                  </ng-select>
                  <div *ngIf="!validator.isValid('userId')" class="invalid-feedback" style="display:block">
                    <div *ngFor="let error of validator.getErrors('userId')">{{ error | translate }}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 mobile-margin-top-15">
                <div class="my-input-group">
                  <label class="required">{{ 'CS_CONFIG_REGISTER.LBL_OFFICE' | translate }}</label>
                  <ng-select [items]="officeList" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                    bindLabel="name" bindValue="id" [loading]="officeLoading" [hideSelected]="true"
                    placeholder="--- {{(officeList!=null && officeList.length!=0? 'CS_CONFIG_REGISTER.LBL_SELECT':'CS_CONFIG_REGISTER.MSG_NO_DATA')  | translate }} ---"
                    [(ngModel)]="model.officeLocationId" class="multiple"
                    [ngClass]="{ 'is-invalid': !validator.isValid('officeLocationId')}">
                    <ng-template ng-header-tmp>
                      <button type="button" (click)="selectAllOffice()" class="btn btn-link">Select
                        all</button>
                      <button type="button" (click)="unselectAllOffice()"
                        class="btn btn-link">Unselect
                        all</button>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                      <div>{{item.name}}</div>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="!validator.isValid('officeLocationId')" class="invalid-feedback" style="display:block">
                    <div *ngFor="let error of validator.getErrors('officeLocationId')">{{ error | translate }}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 mobile-margin-top-15">
                <div class="my-input-group">
                  <label>{{ 'CS_CONFIG_REGISTER.LBL_CUSTOMER_LIST' | translate }}</label>
                  <ng-select [items]="customerList" [multiple]="true" [closeOnSelect]="true" [searchable]="true"
                    bindLabel="name" bindValue="id" [loading]="initialLoading" [hideSelected]="true"
                    placeholder="--- {{ 'CS_CONFIG_REGISTER.LBL_SELECT' | translate }} ---" class="multiple"
                    [(ngModel)]="model.customerId">
                    <ng-template ng-header-tmp>
                      <button type="button" (click)="selectAllCustomer()" class="btn btn-link">Select
                        all</button>
                      <button type="button" (click)="unselectAllCustomer()"
                        class="btn btn-link">Unselect
                        all</button>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                      <div>{{item.name}}</div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row marginTop15">
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="my-input-group">
                  <label>{{ 'CS_CONFIG_REGISTER.LBL_SERVICE' | translate }}</label>
                  <ng-select [items]="serviceList" [multiple]="true" [closeOnSelect]="true" [searchable]="true"
                    bindLabel="name" bindValue="id" [loading]="serviceLoading"
                    placeholder="--- {{ 'CS_CONFIG_REGISTER.LBL_SELECT' | translate }} ---" (change)="ToogleProductCategory(model.serviceId)"
                    [(ngModel)]="model.serviceId" class="multiple">
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 mobile-margin-top-15"
               [ngStyle]="{'display': _productcategorystyle ? 'block': 'none' }">
                <div class="my-input-group">
                  <label>{{ 'CS_CONFIG_REGISTER.LBL_PRODUCT_CATEGORY' | translate }}</label>
                  <ng-select [items]="productCategoryList" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                    bindLabel="name" bindValue="id" [loading]="productCategoryLoading"
                    placeholder="--- {{ 'CS_CONFIG_REGISTER.LBL_SELECT' | translate }} ---"
                    [(ngModel)]="model.productCategoryId" class="multiple">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-action-container">
        <!--     <button *ngIf="fromSummary" type="button" class="secondary-cta small"
              (click)="this.return('csconfigsearch/csconfig-summary');" [disabled]="initialloading">
              <i class="fa fa-undo"></i>&nbsp;&nbsp;{{ 'CS_CONFIG_REGISTER.LBL_RETURN' | translate }}
            </button> -->

            <button id="btnSearch" class="primary-cta small" [disabled]="saveloading || initialLoading"
              style="margin-right: 5px;" (click)="save()">
              {{ 'CS_CONFIG_REGISTER.LBL_SUBMIT' | translate }}
              <span *ngIf="saveloading">
                <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
