<div class="main-wrapper">
    <div class="wrapper dashboard-wrapper">
        <div class="my-container">
            <div class="master-body">
                <div class="title-container">
                    <h3 class="main-title">Claim Search</h3>
                </div>
                <div class="content-container quotation-container">
                    <div class="centerContainerPadding common-filter-container">
                        <!-- <div class="animated-icon-container" (click)="toggleFilterSection()"
                            *ngIf="(model.items && model.items.length>0)">
                            <img src="assets/images/cta-close-grey.svg" alt="close">
                        </div> -->
                        <div class="row">
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <div class="my-input-group">
                                    <div class="styled-radio-container">
                                        <input type="radio" class="styled-radio" id="bookinkNo" name="radio-group"
                                            value="bookinkNo" [checked]="true"
                                            (change)="SetSearchTypemodel('bookinkNo')">
                                        <label for="bookinkNo">{{ 'CLAIM_SUMMARY.LBL_BOOKINGNO' | translate }}</label>
                                    </div>
                                    <input maxlength="200" (ngModelChange)="BookingNoValidation()"
                                        [(ngModel)]="model.searchtypetext" type="text"
                                        [ngClass]="{ 'is-invalid': model.searchtypetext!='' && _customvalidationforbookid}" />
                                    <div *ngIf="model.searchtypetext!='' && _customvalidationforbookid"
                                        class="invalid-feedback">
                                        <div>{{ 'CLAIM_SUMMARY.MSG_BOOKINGNO_ERROR' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xl-8 mobile-margin-top-15">
                                <div class="my-input-group">
                                    <!-- <div class="styled-radio-container">
                                        <input type="radio" class="styled-radio" id="serviceDate" name="radio-group1"
                                            value="serviceDate" [checked]="true"
                                            (change)="SetSearchDatetype('serviceDate')">
                                        <label for="serviceDate">{{ 'CLAIM_SUMMARY.LBL_SERVICEDATE' | translate
                                            }}</label>
                                    </div>
                                    <div class="styled-radio-container">
                                        <input type="radio" class="styled-radio" id="quotationDate" name="radio-group1"
                                            value="quotationDate" [checked]="false"
                                            (change)="SetSearchDatetype('quotationDate')">
                                        <label for="quotationDate">{{ 'CLAIM_SUMMARY.LBL_CLAIMDATE' | translate
                                            }}</label>
                                    </div> -->
                                    <div class="styled-radio-container"
                                        *ngFor="let item of datetypelst;let idx = index">
                                        <input type="radio" class="styled-radio" id="{{item.id}}" name="radio-group1"
                                            [value]="item.id" [checked]="true" (change)="SetSearchDatetype(item)"
                                            [(ngModel)]="model.datetypeid">
                                        <label for="{{item.id}}">{{item.name}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="my-input-group col-sm-3 col-md-6 col-lg-3">
                                        <div class="calendar-wrapper">
                                            <input type="text" maxlength="10" container="body"
                                                [ngClass]="{ 'is-invalid':  !validator.isValidIf('fromdate',IsDateValidationRequired())}"
                                                readonly=readonly [(ngModel)]="model.fromdate" ngbDatepicker
                                                #sdf="ngbDatepicker" (click)="sdf.toggle()">
                                            <img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
                                                (click)="clearDateInput('Fromdate')" *ngIf="model.fromdate">
                                            <img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon"
                                                (click)="sdf.toggle()">
                                        </div>
                                        <div *ngIf="!validator.isValidIf('fromdate',IsDateValidationRequired())"
                                            class="invalid-feedback">
                                            <div *ngFor="let error of validator.getErrors('fromdate')">{{ error |
                                                translate }}</div>
                                        </div>
                                    </div>
                                    <div class="my-input-group col-sm-3 col-md-6 col-lg-3">
                                        <div class="calendar-wrapper">
                                            <input type="text" maxlength="10" container="body"
                                                [ngClass]="{ 'is-invalid':  !validator.isValidIf('todate',IsDateValidationRequired())}"
                                                readonly=readonly [(ngModel)]="model.todate" ngbDatepicker
                                                #sdt="ngbDatepicker" (click)="sdt.toggle()">
                                            <img src="assets/images/cta-close-grey.svg" alt="" class="close-icon"
                                                (click)="clearDateInput('Todate')" *ngIf="model.todate">
                                            <img src="assets/images/calendar-icon.svg" alt="" class="calendar-icon"
                                                (click)="sdt.toggle()">
                                        </div>
                                        <div *ngIf="!validator.isValidIf('todate',IsDateValidationRequired())"
                                            class="invalid-feedback">
                                            <div *ngFor="let error of validator.getErrors('todate')">{{ error |
                                                translate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row marginTop15">
                                    <div class="col-sm-3">
                                        <div class="my-input-group">
                                            <label for="">{{ 'CLAIM_SUMMARY.LBL_CUSTOMER' | translate }}</label>
                                            <ng-select #customer [searchable]="true"
                                                [items]="claimMasterData.customerList" bindLabel="name"
                                                (change)="ChangeCustomer($event);" (clear)="clearCustomer()"
                                                [loading]="claimMasterData.customerLoading"
                                                [ngClass]="{ 'is-invalid': !validator.isValid('customerid')}"
                                                bindValue="id" [hideSelected]="true" appendTo="body"
                                                [virtualScroll]="true" (scrollToEnd)="getCustomerData(true)"
                                                [typeahead]="claimMasterData.customerInput" [minTermLength]="3"
                                                placeholder="--- {{(claimMasterData.customerList!=null && claimMasterData.customerList.length!=0? 'BOOKING_SUMMARY.LBL_SELECT':'BOOKING_SUMMARY.MSG_NO_DATA')  | translate }} ---"
                                                [(ngModel)]="model.customerid">
                                                <ng-template ng-option-tmp let-item="item">
                                                    <div class="text-wrap">{{ item.name }}</div>
                                                </ng-template>
                                            </ng-select>
                                            <div *ngIf="!validator.isValidIf('customerid', model.advancedsearchtypetext)"
                                                class="invalid-feedback">
                                                <div *ngFor="let error of validator.getErrors('customerid')">{{ error |
                                                    translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="my-input-group">
                                            <label for="">{{ 'CLAIM_SUMMARY.LBL_SUPPLIER' | translate }}</label>
                                            <ng-select [multiple]="false" [closeOnSelect]="true" [searchable]="true"
                                                [clearable]="true" [hideSelected]="true" [virtualScroll]="true"
                                                (scrollToEnd)="getSupplierData()" [typeahead]="claimMasterData.supInput"
                                                [minTermLength]="3" [loading]="claimMasterData.supLoading"
                                                bindLabel="name" bindValue="id" [items]="claimMasterData.supplierList"
                                                appendTo="body"
                                                placeholder="--- {{ (claimMasterData.supplierList!=null && claimMasterData.supplierList.length!=0? 'BOOKING_SUMMARY.LBL_SELECT':'BOOKING_SUMMARY.MSG_NO_DATA' ) | translate }} ---"
                                                [(ngModel)]="model.supplierid">
                                                <ng-template ng-option-tmp let-item="item">
                                                    <div class="text-wrap">{{ item.name }}</div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="my-input-group">
                                            <label for="">{{ 'CLAIM_SUMMARY.LBL_STATUS' | translate }}</label>
                                            <ng-select [multiple]="true" [searchable]="true" [loading]=Initialloading
                                                [items]="claimMasterData.statusList" appendTo="body" class="multiple"
                                                bindLabel="label" bindValue="id" [hideSelected]="true"
                                                placeholder="--- {{ (claimMasterData.statusList!=null && claimMasterData.statusList.length!=0? 'CLAIM_SUMMARY.LBL_SELECT':'CLAIM_SUMMARY.MSG_NO_DATA' ) | translate }} ---"
                                                [(ngModel)]="model.statusidlst">
                                                <ng-template ng-option-tmp let-item="item">
                                                    <div class="text-wrap">{{ item.label }}</div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="my-input-group">
                                            <label for="">{{ 'CLAIM_SUMMARY.LBL_OFFICE' | translate }}</label>
                                            <ng-select [searchable]="true" [loading]="Initialloading" appendTo="body"
                                                [items]="claimMasterData.officeList" bindLabel="name" bindValue="id"
                                                [hideSelected]="true" [multiple]="true" class="multiple"
                                                placeholder="--- {{(claimMasterData.officeList!=null && claimMasterData.officeList.length!=0? 'SCHEDULE_SUMMARY.LBL_SELECT':'SCHEDULE_SUMMARY.MSG_NO_DATA')  | translate }} ---"
                                                [(ngModel)]="model.officeidlst">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="!toggleFormSection">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row marginTop10">
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="my-input-group">
                                                <label for="">{{ 'CLAIM_SUMMARY.LBL_COUNTRY' | translate }}</label>
                                                <ng-select [searchable]="true" [loading]="Initialloading"
                                                    appendTo="body" [items]="claimMasterData.countryList"
                                                    bindLabel="countryName" bindValue="id" [hideSelected]="true"
                                                    [multiple]="false"
                                                    placeholder="--- {{(claimMasterData.countryList!=null && claimMasterData.countryList.length!=0? 'SCHEDULE_SUMMARY.LBL_SELECT':'SCHEDULE_SUMMARY.MSG_NO_DATA')  | translate }} ---"
                                                    [(ngModel)]="model.countryId">
                                                    <ng-template ng-option-tmp let-item="item">
                                                        <div class="text-wrap">{{ item.countryName }}</div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row marginTop25">
                            <div class="col-12 col-sm-6">
                                <div class="advanced-search" (click)="toggleSection()">
                                    <img class="icon" src="assets/images/expand-new.svg" alt=""
                                        *ngIf="!toggleFormSection">
                                    <img class="icon" src="assets/images/collapse-new.svg" alt=""
                                        *ngIf="toggleFormSection">
                                    {{'CLAIM_SUMMARY.LBL_ADVANCED_SEARCH' | translate}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 text-right mt-3 mt-sm-0">
                                <button id="btnAdd" class="secondary-cta small mr-2"
                                    (click)="NavigatenewPath('editClaim/edit-claim')">
                                    + {{ 'CLAIM_SUMMARY.LBL_ADDNEW' | translate }}
                                </button>
                                <button class="category-cta small mr-2 common-tooltip common-tooltip-top-2"
                                    data-tooltip="Reset" [disabled]="cancelLoading" (click)="Reset()">
                                    <img src="assets/images/reload-new.svg" alt="Reset">
                                    <span>{{'COMMON.LBL_RESET'| translate}}</span>
                                </button>

                                <button class="secondary-cta small mr-2" (click)="export()"
                                    [disabled]="exportDataLoading || cancelLoading"
                                    *ngIf="model.items != null && model.items.length != 0  && !model.noFound">
                                    <img src="assets/images/red-export.svg" alt="export">
                                    {{ 'CLAIM_SUMMARY.LBL_EXPORT' | translate }}
                                    <span *ngIf="exportDataLoading">
                                        <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                                    </span>
                                </button>
                                <button class="primary-cta small"
                                    [disabled]="searchloading || Initialloading || cancelLoading || exportDataLoading"
                                    (click)="SearchDetails()"> {{ 'CLAIM_SUMMARY.LBL_SEARCH_BTN' | translate }}
                                    <span *ngIf="searchloading">
                                        <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="centerContainerPadding float-left" *ngIf="(model.items && model.items.length>0)">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-xl-8 text-right">
                                <div class="animated-icon-container" *ngIf="!isFilterOpen"
                                    (click)="toggleFilterSection()">
                                    <img src="assets/images/cta-search-grey.svg" alt="search">
                                </div>
                            </div>
                        </div>
                        <div class="quotation-search-container">
                            <div class="record-count pl-0 pr-0">
                                <div class="column">
                                    <p class="count" [innerHtml]="showPaginationText()"></p>
                                </div>
                                <div class="column text-right">
                                    <ul class="table-badge-container">
                                        <li *ngFor="let status of _statuslist| slice:0:_statuslist.length"
                                            (click)="clickStatus(status.id)" [class]="status.statusColor"
                                            [ngClass]="{'active': changeStatus(status.id)}">
                                            {{status.statusName}}<span>{{status.totalCount}}</span>
                                            <img *ngIf="changeStatus(status.id)" src="assets/images/white-close.svg"
                                                alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-container h-scroll">
                                <table class="pagination-table bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{{ 'CLAIM_SUMMARY.LBL_CLAIM_NO' | translate }}</th>
                                            <th>{{ 'CLAIM_SUMMARY.LBL_INSP_NO' | translate }}</th>
                                            <th>{{ 'CLAIM_SUMMARY.LBL_CLAIMDATE' | translate }}</th>
                                            <th>{{ 'CLAIM_SUMMARY.LBL_INSPECTIONDATE' | translate }}</th>
                                            <th class="width-160">{{ 'CLAIM_SUMMARY.LB_CUSTOMER' | translate }}</th>
                                            <th class="width-180">{{ 'CLAIM_SUMMARY.LBL_SUPPLIER' | translate }}</th>
                                            <th>{{ 'CLAIM_SUMMARY.LBL_STATUS' | translate }}</th>
                                            <th>{{ 'CLAIM_SUMMARY.LBL_FINAL_DECISION' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-template ngFor let-iteminfo [ngForOf]="model.items" let-i="index">
                                            <tr style="border-left: 5px solid #fff;">
                                                <td class="Center_Middle">
                                                    <span class="table-cta icon-cta common-tooltip"
                                                        (click)="RedirectToEdit(iteminfo.claimId)" data-tooltip="Edit">
                                                        <img src="assets/images/cta-edit.svg" alt="Edit">
                                                    </span>
                                                    &nbsp;
                                                    <span class="table-cta icon-cta common-tooltip"
                                                        *ngIf="iteminfo.statusId != claimStatus.Cancelled"
                                                        (click)="openConfirm(iteminfo.claimId,iteminfo.claimNo,content)"
                                                        data-tooltip="Delete">
                                                        <img src="assets/images/cta-delete.svg" alt="Delete">
                                                    </span>
                                                </td>
                                                <td><span> {{iteminfo.claimNo}} </span></td>
                                                <td>{{iteminfo.bookingId}}</td>
                                                <td>{{iteminfo.claimDate}}</td>
                                                <td>{{iteminfo.inspectionDate}}</td>
                                                <td class="wordbreak width-100">{{iteminfo.customerName}}</td>
                                                <td class="wordbreak width-100">{{iteminfo.supplierName}}</td>
                                                <td><span class="number-badge"
                                                        [class]="iteminfo.statusColor">{{iteminfo.statusName}}</span>
                                                </td>
                                                <td>{{iteminfo.finalDecision}}</td>
                                            </tr>
                                        </ng-template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="pagination-container">
                            <select class="small" [(ngModel)]="selectedPageSize" (change)="SearchDetails()">
                                <option *ngFor="let item of pagesizeitems" [ngValue]=item>{{item}}</option>
                            </select>
                            <ngb-pagination (pageChange)="onPager($event)" [pageSize]="model.pageSize"
                                [collectionSize]="model.totalCount" [(page)]="model.index" [maxSize]="5">
                            </ngb-pagination>
                        </div> -->
                        <div class="pagination-container">
                            <div class="page-count-list">
                                <select class="small" [(ngModel)]="selectedPageSize" (change)="SearchDetails()">
                                    <option *ngFor="let item of pagesizeitems" [ngValue]=item>{{item}}</option>
                                </select>
                                <span> Records per page</span>
                            </div>
                            <div class="pagination-action-container text-right">
                                <ngb-pagination [pageSize]="model.pageSize" [collectionSize]="model.totalCount"
                                    [boundaryLinks]="true" [(page)]="model.index" [maxSize]="5"
                                    (pageChange)="onPager($event)">
                                    <ng-template ngbPaginationFirst>
                                        <img src="assets/images/new-set/double-arrow.svg" alt="">
                                    </ng-template>
                                    <ng-template ngbPaginationPrevious>
                                        <img src="assets/images/new-set/single-arrow.svg" alt="" class="left-arrow">
                                    </ng-template>
                                    <ng-template ngbPaginationNext>
                                        <img src="assets/images/new-set/single-arrow.svg" alt="" class="right-arrow">
                                    </ng-template>
                                    <ng-template ngbPaginationLast>
                                        <img src="assets/images/new-set/double-arrow.svg" alt=""
                                            class="right-most-arrow">
                                    </ng-template>
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>

                    <div class="centerContainerPadding" *ngIf="model.noFound">
                        <div class="error-container">
                            <img src="assets/images/no-result.svg" alt="" class="thumbnail">
                            <h4 class="error-title">{{'CLAIM_SUMMARY.MSG_NO_ITEM_FOUND' | translate}}</h4>
                            <p class="error-subtitle">{{'CS_CONFIG_SUMMARY.LBL_NODATA' | translate}}</p>

                            <button (click)="Reset()" class="category-cta">
                                <img src="assets/images/reload-new.svg" alt="reload">
                                <span> {{'CLAIM_SUMMARY.MSG_CLEAR_SEARCH' | translate}}</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-body">
        <div class="small-model">
            <h2 class="title">{{ 'CLAIM_SUMMARY.LBL_CONFIRMDELETION' | translate }}</h2>
            <p>{{ 'CLAIM_SUMMARY.MSG_CONFRMDELETE' | translate }} <strong>{{modelRemove.claimNo}} ?</strong></p>
            <button class="secondary-cta" (click)="modal.dismiss('Cross click')">{{ 'COMMON.LBL_CONFIRMCANCEL' |
                translate }}</button>
            <button class="primary-cta" (click)="cancelClaim(modelRemove);">{{ 'COMMON.LBL_OK' | translate }}</button>
        </div>
    </div>
</ng-template>